In [1]:
# 1번
myO <- Orange

In [2]:
# 2번
str(myO)

Classes ‘nfnGroupedData’, ‘nfGroupedData’, ‘groupedData’ and 'data.frame':	35 obs. of  3 variables:
 $ Tree         : Ord.factor w/ 5 levels "3"<"1"<"5"<"2"<..: 2 2 2 2 2 2 2 4 4 4 ...
 $ age          : num  118 484 664 1004 1231 ...
 $ circumference: num  30 58 87 115 120 142 145 33 69 111 ...
 - attr(*, "formula")=Class 'formula'  language circumference ~ age | Tree
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Time since December 31, 1968"
  ..$ y: chr "Trunk circumference"
 - attr(*, "units")=List of 2
  ..$ x: chr "(days)"
  ..$ y: chr "(mm)"

In [3]:
# 3번
# 변수 age의 오름차순으로 정렬
print(myO[order(myO$age), ])

   Tree  age circumference
1     1  118            30
8     2  118            33
15    3  118            30
22    4  118            32
29    5  118            30
2     1  484            58
9     2  484            69
16    3  484            51
23    4  484            62
30    5  484            49
3     1  664            87
10    2  664           111
17    3  664            75
24    4  664           112
31    5  664            81
4     1 1004           115
11    2 1004           156
18    3 1004           108
25    4 1004           167
32    5 1004           125
5     1 1231           120
12    2 1231           172
19    3 1231           115
26    4 1231           179
33    5 1231           142
6     1 1372           142
13    2 1372           203
20    3 1372           139
27    4 1372           209
34    5 1372           174
7     1 1582           145
14    2 1582           203
21    3 1582           140
28    4 1582           214
35    5 1582           177

In [4]:
# 4번

# Tree 값이 1인 데이터만 추출하여 O1에 저장
O1 <- myO[myO$Tree == 1, ]

# 변수 이름 변경
names(O1) <- c("Tree", "age", "O1")

print(O1)

  Tree  age  O1
1    1  118  30
2    1  484  58
3    1  664  87
4    1 1004 115
5    1 1231 120
6    1 1372 142
7    1 1582 145

In [5]:
# 5번

# 각각 Tree값에 따라 추출

O2 <- myO[myO$Tree == 2, ]
O3 <- myO[myO$Tree == 3, ]
O4 <- myO[myO$Tree == 4, ]
O5 <- myO[myO$Tree == 5, ]

# 변수 이름 변경
names(O2) <- c("Tree", "age", "O2")
names(O3) <- c("Tree", "age", "O3")
names(O4) <- c("Tree", "age", "O4")
names(O5) <- c("Tree", "age", "O5")

In [6]:
# 6번
# Tree 변수를 제외하고 각 데이터프레임 병합하기
O1_noTree <- O1[, -which(names(O1) == "Tree")]
O2_noTree <- O2[, -which(names(O2) == "Tree")]
O3_noTree <- O3[, -which(names(O3) == "Tree")]
O4_noTree <- O4[, -which(names(O4) == "Tree")]
O5_noTree <- O5[, -which(names(O5) == "Tree")]

# 데이터프레임 병합
merged_df <- Reduce(function(x, y) merge(x, y, all = TRUE), list(O1_noTree, O2_noTree, O3_noTree, O4_noTree, O5_noTree))

In [7]:
merged_df

  age  O1  O2  O3  O4  O5
1  118  30  33  30  32  30
2  484  58  69  51  62  49
3  664  87 111  75 112  81
4 1004 115 156 108 167 125
5 1231 120 172 115 179 142
6 1372 142 203 139 209 174
7 1582 145 203 140 214 177

In [8]:
# 7번
# age 변수를 제외하고 5개의 변수(O1, O2...) 요약 정보 출력
summary(merged_df[, !names(merged_df) %in% "age"])

       O1               O2              O3            O4              O5
 Min.   : 30.00   Min.   : 33.0   Min.   : 30   Min.   : 32.0   Min.   : 30.0
 1st Qu.: 72.50   1st Qu.: 90.0   1st Qu.: 63   1st Qu.: 87.0   1st Qu.: 65.0
 Median :115.00   Median :156.0   Median :108   Median :167.0   Median :125.0
 Mean   : 99.57   Mean   :135.3   Mean   : 94   Mean   :139.3   Mean   :111.1
 3rd Qu.:131.00   3rd Qu.:187.5   3rd Qu.:127   3rd Qu.:194.0   3rd Qu.:158.0
 Max.   :145.00   Max.   :203.0   Max.   :140   Max.   :214.0   Max.   :177.0

In [9]:
# 8번
col_means <- round(apply(merged_df[, !names(merged_df) %in% "age"], 2, mean), 2)
print(col_means)

    O1     O2     O3     O4     O5
 99.57 135.29  94.00 139.29 111.14

In [10]:
# 9번 
library(readxl)
data <- read_xlsx("../mydata/일별평균대기오염도_2023.xlsx")
head(data)

  측정일시 측정소명 이산화질소농도 오존농도 일산화탄소농도 아황산가스농도
1 20230101 강남구   0.0240         0.0240   0.60           0.0040
2 20230101 강동구   0.0270         0.0170   0.70           0.0030
3 20230101 강북구       NA         0.0260   0.70           0.0040
4 20230101 강서구   0.0210         0.0250   0.60           0.0040
5 20230101 관악구   0.0250         0.0200   0.60           0.0030
6 20230101 광진구   0.0175         0.0176   0.79           0.0026
  미세먼지농도 초미세먼지농도 월 일
1 52           36             01 01
2 56           43             01 01
3 51           34             01 01
4 62           38             01 01
5 54           35             01 01
6 48           36             01 01

In [11]:
# 10번
PM <- subset(data, select = c(1, 2, 7, 8, 9, 10))
tail(PM)

  측정일시 측정소명     미세먼지농도 초미세먼지농도 월 일
1 20231231 항동         21           17             12 31
2 20231231 행주         25           16             12 31
3 20231231 마포아트센터 26           20             12 31
4 20231231 서울숲       23           16             12 31
5 20231231 올림픽공원   19           18             12 31
6 20231231 자연사박물관 19           15             12 31

In [12]:
# 11번

summary_stats <- summary(data[, c("미세먼지농도", "초미세먼지농도")])
# 요약 통계량 출력
print(summary_stats)

  미세먼지농도    초미세먼지농도
 Min.   :  3.00   Min.   :  1.00
 1st Qu.: 22.00   1st Qu.: 11.00
 Median : 32.00   Median : 17.00
 Mean   : 38.44   Mean   : 19.56
 3rd Qu.: 47.00   3rd Qu.: 25.00
 Max.   :351.00   Max.   :116.00
 NA's   :113      NA's   :118

In [13]:
# 12번 
seoul <- subset(PM, 측정소명 == "서울숲" & as.numeric(월) == 4 & as.numeric(일) %in% 1:31)
seoul

   측정일시 측정소명 미세먼지농도 초미세먼지농도 월 일
1  20230401 서울숲   115          54             04 01
2  20230402 서울숲    58          31             04 02
3  20230403 서울숲    56          29             04 03
4  20230404 서울숲    38          19             04 04
5  20230405 서울숲    17          12             04 05
6  20230406 서울숲    65          55             04 06
7  20230407 서울숲    73          43             04 07
8  20230408 서울숲    46           8             04 08
9  20230409 서울숲    68          19             04 09
10 20230410 서울숲    54          22             04 10
11 20230411 서울숲   131          35             04 11
12 20230412 서울숲   263          37             04 12
13 20230413 서울숲   191          32             04 13
14 20230414 서울숲    97          23             04 14
15 20230415 서울숲    59          25             04 15
16 20230416 서울숲   114          38             04 16
17 20230417 서울숲   102          35             04 17
18 20230418 서울숲    41          19             04 18
19 20230419 서울숲    40          22             04 19
20 20230420 서울숲    26          17             04 20
21 20230421 서울숲    64          19             04 21
22 20230422 서울숲    60          15             04 22
23 20230423 서울숲    58          16             04 23
24 20230424 서울숲    52          16             04 24
25 20230425 서울숲    31          15             04 25
26 20230426 서울숲    31          14             04 26
27 20230427 서울숲    47          26             04 27
28 20230428 서울숲    45          19             04 28
29 20230429 서울숲    28          13             04 29
30 20230430 서울숲    42          15             04 30

In [14]:
# 13번
level1 <- subset(seoul, 미세먼지농도 < 30)
level2 <- subset(seoul, 미세먼지농도 >= 30 & 미세먼지농도 < 80 )
level3 <- subset(seoul, 미세먼지농도 >= 80 & 미세먼지농도 < 150 )
level4 <- subset(seoul, 미세먼지농도 >= 150)
level4

  측정일시 측정소명 미세먼지농도 초미세먼지농도 월 일
1 20230412 서울숲   263          37             04 12
2 20230413 서울숲   191          32             04 13

In [15]:
# 14번

freq <- data.frame(
  Level = c("level1", "level2", "level3", "level4"),
  Count = c(nrow(level1), nrow(level2), nrow(level3), nrow(level4))
)
freq

  Level  Count
1 level1  3
2 level2 20
3 level3  5
4 level4  2

In [16]:
# 15번

com1 <- read_xlsx("../mydata/기업데이터-merge.xlsx", sheet = 1)
com2 <- read_xlsx("../mydata/기업데이터-merge.xlsx", sheet = 2)
com3 <- read_xlsx("../mydata/기업데이터-merge.xlsx", sheet = 3)

head(com1, 2)
head(com2, 2)
head(com3, 2)

  기업명    빈도_2021
1 삼성SDS   28
2 SK 텔레콤 25

  기업명  빈도_2023
1 삼성SDS 30
2 LG CNS  31

  기업명    빈도_2024
1 삼성SDS   19
2 SK 텔레콤 17

In [17]:
# 16번 
data <- merge(com1, com2, all = TRUE)
data <- merge(data, com3, all = TRUE)

data[c(1, 4, 27, 50), ]

   기업명       빈도_2021 빈도_2023 빈도_2024
1  ㈜시큐레이어 NA        NA         1
4  KT넥스알      9        11        11
27 삼성SDS      28        30        19
50 위엠비        1        NA        NA

In [18]:
# 17번
data[is.na(data) ] <- 0
data[c(1, 4, 27, 50), ]

   기업명       빈도_2021 빈도_2023 빈도_2024
1  ㈜시큐레이어  0         0         1
4  KT넥스알      9        11        11
27 삼성SDS      28        30        19
50 위엠비        1         0         0

In [19]:
# 18번
data$합계 <- rowSums(data[, sapply(data, is.numeric)])

data_sort <- data[order(-data$합계), ]
result <- rbind(head(data_sort, 3), tail(data_sort, 3))
result

   기업명                빈도_2021 빈도_2023 빈도_2024 합계
27 삼성SDS               28        30        19        77
5  LG CNS                20        31        18        69
9  SK 텔레콤             25        22        17        64
64 투이컨설팅             0         1         0         1
66 펜타시스템 테크놀러지  1         0         0         1
67 포엠스                 0         0         1         1

In [20]:
# 19번 - A
files <- list.files(path = "../Exercise-3", pattern = "*.xlsx", full.names = TRUE)
files
df <- read_xlsx(files[1])
df

 [1] "../Exercise-3/df.xlsx"  "../Exercise-3/S01.xlsx" "../Exercise-3/S02.xlsx"
 [4] "../Exercise-3/S03.xlsx" "../Exercise-3/S04.xlsx" "../Exercise-3/S05.xlsx"
 [7] "../Exercise-3/S06.xlsx" "../Exercise-3/S07.xlsx" "../Exercise-3/S08.xlsx"
[10] "../Exercise-3/S09.xlsx" "../Exercise-3/S10.xlsx" "../Exercise-3/S11.xlsx"
[13] "../Exercise-3/S12.xlsx" "../Exercise-3/S13.xlsx" "../Exercise-3/S14.xlsx"
[16] "../Exercise-3/S15.xlsx" "../Exercise-3/S16.xlsx" "../Exercise-3/S17.xlsx"
[19] "../Exercise-3/S18.xlsx" "../Exercise-3/S19.xlsx" "../Exercise-3/S20.xlsx"
[22] "../Exercise-3/S21.xlsx" "../Exercise-3/S22.xlsx" "../Exercise-3/S23.xlsx"
[25] "../Exercise-3/S24.xlsx" "../Exercise-3/S25.xlsx" "../Exercise-3/S26.xlsx"
[28] "../Exercise-3/S27.xlsx" "../Exercise-3/S28.xlsx" "../Exercise-3/S29.xlsx"
[31] "../Exercise-3/S30.xlsx" "../Exercise-3/S31.xlsx" "../Exercise-3/S32.xlsx"

    ID  번호 기업명
1   S1  1    SK 텔레콤
2   S1  2    삼성SDS
3   S1  3    오라클
4   S1  4    현대HDS
5   S1  5    LG CNS
6   S2  1    LG CNS
7   S2  2    데이타솔루션
8   S2  3    롯데정보통신 (롯데이노베이트)
9   S2  4    삼성SDS
10  S2  5    오라클
11  S3  1    KT넥스알
12  S3  2    LG CNS
13  S3  3    SK 텔레콤
14  S3  4    롯데정보통신
15  S3  5    삼성SDS
16  S4  1    삼성SDS
17  S4  2    SK 텔레콤
18  S4  3    LG CNS
19  S4  4    한국오라클
20  S4  5    KT넥스알
21  S5  1    티맥스소프트
22  S5  2    다이퀘스트
23  S5  3    삼성SDS
24  S5  4    데이타솔루션
25  S5  5    롯데정보통신
26  S6  1    sk 텔레콤
27  S6  2    삼성SDS
28  S6  3    LG CNS
29  S6  4    한컴MDS
30  S6  5    KT넥스알
⋮   ⋮   ⋮    ⋮
131 S27 1    오라클
132 S27 2    SK 텔레콤
133 S27 3    LG CNS
134 S27 4    삼성SDS
135 S27 5    데이타솔루션
136 S28 1    LG CNS
137 S28 2    sk텔레콤
138 S28 3    데이타솔루션
139 S28 4    와이즈넛
140 S28 5    코난테크놀로지
141 S29 1    삼성SDS
142 S29 2    롯데정보통신(롯데이노베이트로 사명 변경)
143 S29 3    솔트룩스
144 S29 4    SK 텔레콤
145 S29 5    넷크루즈
146 S30 1    LG CNS
147 S30 2    SK 텔레콤
148 S30 3    삼성SDS
149 S30 4    현대HDS
150 S30 5    오라클
151 S31 1    포엠스
152 S31 2    파수그룹 | ㈜스페로유
153 S31 3    KT
154 S31 4    가비아
155 S31 5    쓰리웨이
156 S32 1    LG CNS
157 S32 2    SK텔레콤
158 S32 3    넷크루즈
159 S32 4    바이브컴퍼니
160 S32 5    데이터솔루션
    주 솔루션
1   이동전화,무선호출서비스,부가통신
2   Brightics IoT
3   수집/정리
4   스토리지 구축 컨설팅, 구성 및 구축 서비스, 유지보수 서비스
5   IT인프라, 빅데이터
6   인공지능
7   빅데이터
8   빅데이터
9   인공지능
10  클라우드 서비스
11  빅데이터, 클라우드
12  IT 서비스, 스마트팩토리
13  통신, 인공지능(AI)
14  IT 서비스, 스마트시티
15  IT 서비스, 클라우드, AI
16  분석(Brightics AI)
17  플랫폼(지오비전)
18  분석(SENA-FDS)
19  수집/정리(Oracle IoT Cloud Service
20  분석(Lean Stream)
21  클라우드·SaaS(서비스형 소프트웨어)·AI(인공지능)
22  지능형 검색, 빅데이터 분석, 인공지능형 챗봇 등 인공지능 및 자연어처리
23  인공지능, 애널리틱스, Brightics AI, 사물인터넷, Brightics LOT, 블록체인
24  Cloud, IT Modernization, Analytics Service
25  AI, Bigdata, IoT, Cloud
26  통신서비스, AI&디지털서비스
27  Brightics IoT,Brightics AI
28  SBP Appliance,Smart SMA
29  Splunk,Dataiku
30  Technical Consulting,IoT(Velocity) ,NDAP
⋮   ⋮
131 클라우드 인프라(OCI), 자율 데이터베이스, SaaS(Software as a Service)
132 5G 통신 솔루션, AI 플랫폼 (Aibril)
133 J-Jobs, DAP(AI빅데이터 플랫폼), 스마트팩토리 솔루션
134 패브릭스 (Fabrics), SRM SaaS 솔루션, 클라우드 서비스
135 SI서비스, 빅데이터 솔루션, 스토리지 솔루션
136 클라우드/빅데이터
137 무선데이터,정보통신
138 빅데이터/클라우드
139 인공지능
140 인공지능 소프트웨어
141 Brightics IoT
142 Digital Transformation - Bigdata
143 빅오(BigO)
144 유무선 통신 사업과 미디어, 보안, 커머스, lo, 모빌리티 등의 New Biz 사업
145 관리/분석
146 인공지능
147 네트워크 통신
148 소프트웨어
149 스토리지
150 서버 및 스토리지
151 컴퓨터 프로그래밍 서비스업
152 응용 소프트웨어 개발 및 공급업
153 무선 및 위성통신업
154 네트워크·통신서비스
155 컴퓨터 프로그래밍 서비스업
156 컴퓨터시스템 통합자문 및 구축
157 무선 및 위성 통신업
158 응용소프트웨어 개발 및 공급업
159 소프트웨어개발/공급/임대
160 기계장비,물품 도매/EMC스토리지,SPSS,SI,시스템 통합 자문,구축,시스템소프트웨어,통신장비 개발,공급,검색솔루션
    소재지
1   대한민국 서울특별시 중구 을지로 65 (을지로2가)
2   서울 송파구 올림픽로35길 125
3   텍사스주 오스틴
4   서울특별시 송파구 송파대로 570
5   서울특별시 강서구 마곡중앙8로 71, E13
6   서울특별시 강서구 마곡중앙8로 71, E13 (마곡동, LG사이언스파크)
7    서울시 강남구 언주로 620 현대인텔렉스 10층(5층, 11층)
8   서울특별시 금천구 가산디지털2로 179 (가산동)
9   서울시 송파구 올림픽로 35길 125 삼성SDS
10  미국 국기 미국 텍사스주 오스틴
11  서울
12  서울
13  서울
14  서울
15  서울
16  서울시 송파구 올림픽로 35길 125 (신천동)
17  서울시 중구 을지로 65 SK T타워
18  서울특별시 강서구 마곡중앙8로 71 (마곡동)
19  서울특별시 강남구 삼성1동 영동대로 517
20  서울특별시 송파구 올림픽로 295
21  경기도 성남시 분당구 황새울로258번길 29
22  서울특별시 구로구 디지털로30길 31
23  서울특별시 송파구 올림픽로35길 125
24  서울특별시 강남구 언주로 620
25  서울특별시 금천구 가산디지털2로 179
26  서울시 중구 을지로 65 SK T타워
27  서울특별시 송파구 올림픽로35길 125
28  서울특별시 강서구 마곡중앙8로 71
29  경기도 성남시 분당구 대왕판교로644번길 49
30  서울특별시 송파구 올림픽로 295
⋮   ⋮
131 서울 강남구 영동대로 517(15, 16, 36층)
132 대한민국 서울특별시 중구 을지로 65 (을지로2가)
133 서울 강서구 마곡중앙8로 71 (마곡동, LG사이언스파크) E13동
134 서울 송파구 올림픽로35길 125 (신천동, 삼성SDS)
135 서울 강남구 언주로 620 (논현동, 현대인텔렉스) 11층
136 서울특별시 강서구 마곡 중앙8로 71
137 서울특별시 중구 을지로 65
138 서울시 강남구 언주로 620
139 경기도 성남시 분당구
140 서울특별시 서초구 강남대로327
141 서울 송파구 올림픽로35길 125
142 서울 금천구 가산동 롯데정보통신
143 서울 강남구 언주로 538
144 서울 특별시 중구 을지로 65 SK T-타워 (우)04539
145 서울 구로구 디지털로33길
146 서울특별시 강서구 마곡중앙8로 71 LG사이언스파크 E13
147 서울특별시 중구 을지로 65 \r\nSK T-타워 (우)04539
148 서울 송파구 올림픽로35길 125
149 서울특별시 송파구 송파대로 570 Tower730 (우)05510
150 서울 강남구 삼성동 159-1 무역센터아셈타워12층,16층,36층
151 서울 영등포구 문래동3가 55-20 에이스하이테크 2동 509호
152 서울 마포구 월드컵북로 396(상암동, 누리꿈스퀘어) 파수닷컴
153 경기 성남시 분당구 정자동 206
154 경기 성남시 분당구 삼평동 670번지 유스페이스1 B동 4층
155 서울 금천구 벚꽃로 298 (가산동, 대륭포스트타워6차) 701호
156 서울 금천구 가산동
157 서울특별시 중구 을지로 65
158 서울 구로구 구로동
159 서울특별시 용산구 독서당로 97
160 서울특별시 강남구 언주로 620
    설립년도        직원수                  취업 희망 순위
1   1984년 3월 29일 5,741명                 2
2   1985년 5월 1일  11,404명                1
3   1977년 6월 16일 164,000명               5
4   1994년 7월 21일 361명                   3
5   1987년 1월 14일 6,743명                 4
6   31791           6,743명 (2023)          2
7   2011년          234명 (2024년 1월 기준) 4
8   43040           2,950명                 3
9   31168           25,485명                1
10  28292           164,000명(2022년)       5
11  2016년          약 100명                5
12  1987년          약 15,000명             4
13  1984년          약 6,000명              3
14  1996년          약 4,000명              2
15  1985년          약 12,000명             1
16  31168           11,404명                1
17  1984년/04/20    5741명                  2
18  1987년          6,930명                 3
19  1989년          715명                   4
20  2007년 1월      114명                   5
21  1997년 06월     540명                   3
22  36588           220명                   5
23  31168           11,332명                1
24  40546           253명                   4
25  43041           2,885명                 2
26  1984.3.2.       5741명                  1
27  1985. 5. 1.     11332명                 2
28  1987. 1. 14.    6930명                  3
29  1998. 12. 29.   133명                   4
30  2007. 1. 31.    100명~200명 미만        5
⋮   ⋮               ⋮                       ⋮
131 1989.11.01      850                     1
132 1984.03.29      5741                    2
133 1987.01.14      6930                    3
134 1985.05.01      12501                   4
135 NA              234                     5
136 31791           6743명                  1
137 30770           5339명                  2
138 2010년          252명                   4
139 36662           331명                   3
140 1999년          242명                   5
141 483753600       11404명                 2
142 1509580800      2885명 (2024.06)        1
143 366854400       175명 (2024.06)         4
144 449366400       5741명 (2024.06)        3
145 996883200       47명 (2024.02)          5
146 537580800       6930명                  1
147 451267200       5699명                  5
148 483753600       11,488 명               2
149 775699200       361명                   4
150 625708800       741명                   3
151 1473292800      25명(22-05-09)          4
152 962323200       269명(24-06-30)         1
153 376790400       19,284명 (24-06-30)     3
154 937872000       379명                   2
155 1263168000      22명                    5
156 1987.1.14       6930명                  1
157 1984.3.29       5741명                  2
158 2001.08.04      40~70명                 3
159 2000.07.08      193명                   4
160 2011.01.03      253명                   5

In [21]:
for (f in files[2:length(files)]) {
    tmp <- read_xlsx(f)
    # 공통 열만 선택
    common_columns <- intersect(names(df), names(tmp))
    df <- rbind(df[, common_columns, drop = FALSE], tmp[, common_columns, drop = FALSE])
}

In [22]:
# B. 문자열 S1부터 S32까지 각각 5번씩 반복하여 ID 생성
ID <- rep(paste0("S", 1:32), each = 5)

In [23]:
# C
# 데이터프레임에 ID 열 추가
df$ID <- ID[1:nrow(df)]  # df의 행 수에 맞추어 ID 할당

df <- df[, c("ID", setdiff(names(df), "ID"))]

In [24]:
# writexl 패키지 ->  R 데이터 프레임을 Excel 파일(.xlsx)로 저장하는 데 사용
library(writexl)

In [26]:
# D. 엑셀 파일로 저장
write_xlsx(df, "../Exercise-3/df.xlsx")