In [1]:
toupper("Hello World")

[1] "HELLO WORLD"

In [2]:
tolower("Hello World")

[1] "hello world"

In [3]:
toupper(c("Apple", "Mango", "Orange"))

[1] "APPLE"  "MANGO"  "ORANGE"

In [4]:
paste("2024", "11", "08")

[1] "2024 11 08"

In [11]:
cat(c("2024", "11", "08"))

2024 11 08

In [6]:
# 문자간에 구분자를 넣어줌 sep- > 
paste("2024", "11", "08", sep="-")

[1] "2024-11-08"

In [7]:
# 공백을 없앤다
paste0("2024", "11", "08")

[1] "20241108"

In [9]:
paste0(c("2024", "11", "08"))

[1] "2024" "11"   "08"

In [12]:
cat(c("2024", "11", "08"), sep="-")

2024-11-08

In [14]:
# paste0("S", 1:12)
rep(paste0("S", 1:12), each=3)

 [1] "S1"  "S1"  "S1"  "S2"  "S2"  "S2"  "S3"  "S3"  "S3"  "S4"  "S4"  "S4"
[13] "S5"  "S5"  "S5"  "S6"  "S6"  "S6"  "S7"  "S7"  "S7"  "S8"  "S8"  "S8"
[25] "S9"  "S9"  "S9"  "S10" "S10" "S10" "S11" "S11" "S11" "S12" "S12" "S12"

In [15]:
# 엑셀에 mid 함수와 동일 5~6까지 
substr("20241108", 5, 6)

[1] "11"

In [17]:
library(stringr)

In [22]:
str_sub("20241108", -4, -1)

[1] "1108"

In [31]:
string <- "ABCDEFG" ;

substr(string, 2, nchar(string)-2)

str_sub("ABCDEFG", -6, -3)

[1] "BCDE"

[1] "BCDE"

In [33]:
string <- "ABCDEFG" ;

substr(string, 2, nchar(string)-2) <- "###" # 대체 문자로 대체해줌

string

[1] "A###EFG"

In [34]:
names <- c("허준", "홍길동", "이몽룡", "건국대학교", "과학기술")
names <- ifelse(nchar(names) == 2,
                paste0(substr(names, 1, 1), "#"),
                paste0(substr(names, 1, 1), "####", substr(names, nchar(names), nchar(names))))
names

[1] "허#"      "홍####동" "이####룡" "건####교" "과####술"

In [35]:
# 맨 처음 하나만 바꾸가
sub("a", "A", "abracadabra")

[1] "Abracadabra"

In [36]:
# 모두 바꾸기 g-> global
gsub("a", "A", "abracadabra")

[1] "AbrAcAdAbrA"

In [41]:
animals <- c("tiger", "eagle", "elephant")
sub("e", "E", animals)
gsub("e", "E", animals)

[1] "tigEr"    "Eagle"    "Elephant"

[1] "tigEr"    "EaglE"    "ElEphant"

In [49]:
c_animals <- "tiger eagle elephant"
# 공백제거 
c_animals1<- gsub(" ", "", c_animals)
c_animals1

[1] "tigereagleelephant"

In [60]:
strings <- c("Apple", "Tiger", "Cat", "Banana")
strings

[1] "Apple"  "Tiger"  "Cat"    "Banana"

In [61]:
grep("a", strings)
grep("a", strings, value=T)

[1] 3 4

[1] "Cat"    "Banana"

In [65]:
# ignore.case = T 는 대소문자를 구분하지 말고 찾기
grep("a", strings, ignore.case = T)

[1] 1 3 4

In [69]:
# invert는 "a"를 제외한 나머지를 보여줌
rep("a", strings, ignore.case = T, value=T, invert = T)

[1] "Tiger"

In [71]:
names <- row.names(mtcars)
names

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

In [72]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [75]:
names <- row.names(mtcars)
grep('toyota', names, ignore.case = T, value=T)

[1] "Toyota Corolla" "Toyota Corona"

# Stringr 패키지
## Stringr 실습

In [76]:
str_sub("20241106", -2, -1)

[1] "06"

In [77]:
str_sub("20241106", 5)

[1] "1106"

In [78]:
str_flatten(c("2024", "11", "06"))

[1] "20241106"

In [85]:
text <- c(" 양쪽 모두 ", " 왼쪽만", "오른쪽만 ", "사이에 스페이스")
print(text)

[1] " 양쪽 모두 "     " 왼쪽만"         "오른쪽만 "       "사이에 스페이스"

In [80]:
str_trim(text)

[1] "양쪽 모두"       "왼쪽만"          "오른쪽만"        "사이에 스페이스"

In [81]:
print(str_trim(text), side="left")

[1] "양쪽 모두"       "왼쪽만"          "오른쪽만"        "사이에 스페이스"

In [86]:
str_trim(text, side="right")

[1] " 양쪽 모두"      " 왼쪽만"         "오른쪽만"        "사이에 스페이스"

In [90]:
addr <- "충북 충주시 충원대로 268"
word(addr, 2) # (addr, x) -> x번째에 단어를 찾아주는 기능을 한다.

[1] "충주시"

In [93]:
x <- c("apple", "car", "a", "happy")
x <- str_sort

## 📌 정규식

In [94]:
names <- row.names(mtcars)
names

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

In [104]:
grep("e$", names, value=T, ignore.case = T)

[1] "Hornet 4 Drive" "Merc 450SE"     "Volvo 142E"

In [106]:
# 끝나는 단어, 문자가 0~9가 해당하는 것을 찾아줌
grep("[0-9]$", names, value=T)

[1] "Mazda RX4"     "Datsun 710"    "Duster 360"    "Merc 230"
[5] "Merc 280"      "Fiat 128"      "Camaro Z28"    "Fiat X1-9"
[9] "Porsche 914-2"

In [ ]:
data <- read_csv("../mydata/도로교통공단_시군구별 월별 교통사고 통계_20231231.csv", 
                 locale = locale(encoding = "CP949"), 
                 show_col_types = FALSE)
head(data)

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수
1 서울 종로구 1      77       2        15        79      14
2 서울 종로구 2      66       0        17        59       8
3 서울 종로구 3      67       0        15        80       2
4 서울 종로구 4      73       1        17        67       6
5 서울 종로구 5      88       0        21       103      12
6 서울 종로구 6      82       0        17        78       6

In [ ]:
index <- grep("충북", data$`시도`)
cb <- data[index, ]
cb

    시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수
1   충북 청주시  1     286      2         71      320      10
2   충북 청주시  2     271      5         87      318      10
3   충북 청주시  3     336      6         88      398      22
4   충북 청주시  4     354      3        120      370      14
5   충북 청주시  5     414      1        135      484      12
6   충북 청주시  6     377      1         96      430      18
7   충북 청주시  7     372      7         83      362      26
8   충북 청주시  8     358      5         90      393      24
9   충북 청주시  9     415      7        112      515      16
10  충북 청주시 10     374      3        102      437      25
11  충북 청주시 11     400      4        115      435      21
12  충북 청주시 12     380      4         90      405      19
13  충북 충주시  1      78      1         31       72       1
14  충북 충주시  2      60      2          9       72       0
15  충북 충주시  3      79      0         19       96       1
16  충북 충주시  4      89      2         34       95       1
17  충북 충주시  5     105      0         35      123       1
18  충북 충주시  6      89      2         19      120       1
19  충북 충주시  7      90      4         31       92       6
20  충북 충주시  8      74      2         32       79       0
21  충북 충주시  9      95      0         27      126       3
22  충북 충주시 10      91      1         26      128       0
23  충북 충주시 11      90      2         25      123       0
24  충북 충주시 12      86      0         19      114       0
25  충북 제천시  1      37      1          8       36       2
26  충북 제천시  2      34      0         13       36       3
27  충북 제천시  3      45      1          9       45       9
28  충북 제천시  4      69      0         20       84       5
29  충북 제천시  5      81      3         17       81      10
30  충북 제천시  6      63      2         16       82       8
⋮   ⋮    ⋮      ⋮      ⋮        ⋮        ⋮        ⋮        ⋮
103 충북 음성군  7     47       1        18       63       1
104 충북 음성군  8     42       2        14       52       0
105 충북 음성군  9     46       0        16       70       2
106 충북 음성군 10     48       2        18       54       3
107 충북 음성군 11     41       1         9       40       6
108 충북 음성군 12     39       0        15       35       5
109 충북 단양군  1     11       0         2       13       0
110 충북 단양군  2      5       0         1        4       0
111 충북 단양군  3      7       0         2        6       0
112 충북 단양군  4      5       0         1        5       0
113 충북 단양군  5      7       0         0       17       0
114 충북 단양군  6      4       0         0        4       0
115 충북 단양군  7      5       2         0        5       0
116 충북 단양군  8     14       1         3       24       0
117 충북 단양군  9     12       0         1       25       0
118 충북 단양군 10     11       1         0       15       0
119 충북 단양군 11     14       1        10       17       0
120 충북 단양군 12      5       0         2        3       0
121 충북 증평군  1      7       0         2        5       1
122 충북 증평군  2      9       0         8       10       0
123 충북 증평군  3     15       0         6       13       1
124 충북 증평군  4     14       0         3       15       1
125 충북 증평군  5     12       0         3       20       0
126 충북 증평군  6     21       1         9       18       1
127 충북 증평군  7     25       0         5       23       1
128 충북 증평군  8     23       0         9       20       3
129 충북 증평군  9     18       0         4       26       3
130 충북 증평군 10     27       1         7       32       1
131 충북 증평군 11     15       1         2       17       0
132 충북 증평군 12     20       0         6       17       2

In [126]:
table(cb$`시도`)
table(cb$시도)

충북
 132

충북
 132

In [127]:
idx <- grep("시$", cb$`시군구`)
city <- cb[idx, ]
table(city$시군구)

제천시 청주시 충주시
    12     12     12

In [ ]:
# 남이 들어간 시군구를 검색 
idx <- grep("남", data$`시군구`)
south <- data[idx, ]
table(south$시군구)

  강남구     남구   남동구 남양주시   남원시   남해군   성남시   하남시
      12       48       12       12       12       12       12       12
  해남군
      12

In [ ]:
# 남으로 시작하는 시군구
idx <- grep("^남", data$`시군구`)
south <- data[idx, ]
table(south$시군구)

    남구   남동구 남양주시   남원시   남해군
      48       12       12       12       12

In [145]:
# 남으로 시작하고 구로 끝나는 3글자 시군구 
idx <- grep("^남.*구$", data$`시군구`)
south <- data[idx, ]
table(south$시군구)

  남구 남동구
    48     12

In [ ]:
# 정확하게 남구가 어디에 분포되있는지 확인 함
data$시도2 <- paste(data$시도, data$시군구)
idx <- grep("^남.*구$", data$`시군구`)
south3 <- data[idx, ]
table(south3$시도2)

  광주 남구   대구 남구   부산 남구   울산 남구 인천 남동구
         12          12          12          12          12