In [19]:
a <- mtcars

In [20]:
r1 <- mtcars[1:3, 1:2]
r1

              mpg  cyl
Mazda RX4     21.0 6
Mazda RX4 Wag 21.0 6
Datsun 710    22.8 4

In [21]:
r2 <- a[1:4, 1:2]
r2

               mpg  cyl
Mazda RX4      21.0 6
Mazda RX4 Wag  21.0 6
Datsun 710     22.8 4
Hornet 4 Drive 21.4 6

In [22]:
r2 <- r2[c(1,2)]
r2

               mpg  cyl
Mazda RX4      21.0 6
Mazda RX4 Wag  21.0 6
Datsun 710     22.8 4
Hornet 4 Drive 21.4 6

In [23]:
rbind(r1 ,r2)

               mpg  cyl
Mazda RX4      21.0 6
Mazda RX4 Wag  21.0 6
Datsun 710     22.8 4
Mazda RX41     21.0 6
Mazda RX4 Wag1 21.0 6
Datsun 7101    22.8 4
Hornet 4 Drive 21.4 6

In [25]:
Orange

   Tree age  circumference
1  1     118  30
2  1     484  58
3  1     664  87
4  1    1004 115
5  1    1231 120
6  1    1372 142
7  1    1582 145
8  2     118  33
9  2     484  69
10 2     664 111
11 2    1004 156
12 2    1231 172
13 2    1372 203
14 2    1582 203
15 3     118  30
16 3     484  51
17 3     664  75
18 3    1004 108
19 3    1231 115
20 3    1372 139
21 3    1582 140
22 4     118  32
23 4     484  62
24 4     664 112
25 4    1004 167
26 4    1231 179
27 4    1372 209
28 4    1582 214
29 5     118  30
30 5     484  49
31 5     664  81
32 5    1004 125
33 5    1231 142
34 5    1372 174
35 5    1582 177

In [26]:
help(Orange)

Orange                package:datasets                 R Documentation

_G_r_o_w_t_h _o_f _O_r_a_n_g_e _T_r_e_e_s

_D_e_s_c_r_i_p_t_i_o_n:

     The ‘Orange’ data frame has 35 rows and 3 columns of records of
     the growth of orange trees.

_U_s_a_g_e:

     Orange

_F_o_r_m_a_t:

     An object of class ‘c("nfnGroupedData", "nfGroupedData",
     "groupedData", "data.frame")’ containing the following columns:

     Tree an ordered factor indicating the tree on which the
          measurement is made.  The ordering is according to increasing
          maximum diameter.

     age a numeric vector giving the age of the tree (days since
          1968/12/31)

     circumference a numeric vector of trunk circumferences (mm).  This
          is probably “circumference at breast height”, a standard
          measurement in forestry.

_D_e_t_a_i_l_s:

     This dataset was originally part of package ‘nlme’, and that has
     methods (including for ‘[’, ‘as.data.frame’, ‘plot’ and ‘print’)
     for its grouped-data classes.

_S_o_u_r_c_e:

     Draper, N. R. and Smith, H. (1998), _Applied Regression Analysis
     (3rd ed)_, Wiley (exercise 24.N).

     Pinheiro, J. C. and Bates, D. M. (2000) _Mixed-effects Models in S
     and S-PLUS_, Springer.

_E_x_a_m_p_l_e_s:

     require(stats); require(graphics)
     coplot(circumference ~ age | Tree, data = Orange, show.given = FALSE)
     fm1 <- nls(circumference ~ SSlogis(age, Asym, xmid, scal),
                data = Orange, subset = Tree == 3)
     plot(circumference ~ age, data = Orange, subset = Tree == 3,
          xlab = "Tree age (days since 1968/12/31)",
          ylab = "Tree circumference (mm)", las = 1,
          main = "Orange tree data and fitted model (Tree 3 only)")
     age <- seq(0, 1600, length.out = 101)
     lines(age, predict(fm1, list(age = age)))

In [27]:
str(Orange)

Classes ‘nfnGroupedData’, ‘nfGroupedData’, ‘groupedData’ and 'data.frame':	35 obs. of  3 variables:
 $ Tree         : Ord.factor w/ 5 levels "3"<"1"<"5"<"2"<..: 2 2 2 2 2 2 2 4 4 4 ...
 $ age          : num  118 484 664 1004 1231 ...
 $ circumference: num  30 58 87 115 120 142 145 33 69 111 ...
 - attr(*, "formula")=Class 'formula'  language circumference ~ age | Tree
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Time since December 31, 1968"
  ..$ y: chr "Trunk circumference"
 - attr(*, "units")=List of 2
  ..$ x: chr "(days)"
  ..$ y: chr "(mm)"

In [31]:
O1 <- subset(Orange, Tree==1)
O2 <- subset(Orange, Tree==2)
O3 <- subset(Orange, Tree==3)
O4 <- subset(Orange, Tree==4)
O5 <- subset(Orange, Tree==5)

In [32]:
OO <- split(Orange, Orange$Tree)
OO

$`3`
   Tree  age circumference
15    3  118            30
16    3  484            51
17    3  664            75
18    3 1004           108
19    3 1231           115
20    3 1372           139
21    3 1582           140

$`1`
  Tree  age circumference
1    1  118            30
2    1  484            58
3    1  664            87
4    1 1004           115
5    1 1231           120
6    1 1372           142
7    1 1582           145

$`5`
   Tree  age circumference
29    5  118            30
30    5  484            49
31    5  664            81
32    5 1004           125
33    5 1231           142
34    5 1372           174
35    5 1582           177

$`2`
   Tree  age circumference
8     2  118            33
9     2  484            69
10    2  664           111
11    2 1004           156
12    2 1231           172
13    2 1372           203
14    2 1582           203

$`4`
   Tree  age circumference
22    4  118            32
23    4  484            62
24    4  664           112
25    4 1004           167
26    4 1231           179
27    4 1372           209
28    4 1582           214

In [34]:
OO$'1'

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142
7 1    1582 145

In [35]:
names(OO)

[1] "3" "1" "5" "2" "4"

In [37]:
Orange$Tree <- as.numeric(Orange$Tree)
str(Orange)

Classes ‘nfnGroupedData’, ‘nfGroupedData’, ‘groupedData’ and 'data.frame':	35 obs. of  3 variables:
 $ Tree         : num  2 2 2 2 2 2 2 4 4 4 ...
 $ age          : num  118 484 664 1004 1231 ...
 $ circumference: num  30 58 87 115 120 142 145 33 69 111 ...
 - attr(*, "formula")=Class 'formula'  language circumference ~ age | Tree
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Time since December 31, 1968"
  ..$ y: chr "Trunk circumference"
 - attr(*, "units")=List of 2
  ..$ x: chr "(days)"
  ..$ y: chr "(mm)"

In [38]:
name <- c("kim", "lee", "park")
mid <- c (71, 65, 90)
final <- c(81,85,70)

In [40]:

scoreM <- data.frame(name = name, mid = mid)

scoreM <- scoreM[order(scoreM$mid), ]

print(scoreM)

  name mid
2  lee  65
1  kim  71
3 park  90

In [42]:
scoreF <- data.frame(name = name, final = final)
scoreF <- scoreF[order(scoreF$final), ]

print(scoreF)

  name final
3 park    70
1  kim    81
2  lee    85

In [44]:
merge(scoreM, scoreF, by='name')

  name mid final
1 kim  71  81
2 lee  65  85
3 park 90  70

In [45]:
cbind(scoreF, scoreM)

  name final name mid
3 park 70    lee  65
1 kim  81    kim  71
2 lee  85    park 90

In [46]:
scoreF2 <- scoreF[-3, ]
print(scoreF2)

  name final
3 park    70
1  kim    81

In [47]:
merge(scoreM, scoreF2, by = 'name')

  name mid final
1 kim  71  81
2 park 90  70

In [48]:
merge(scoreM, scoreF2, by = 'name', all.x = T)

  name mid final
1 kim  71  81
2 lee  65  NA
3 park 90  70