## 그룹별 평균 - summaryBy

## 이번시간은 dplyr부터 ->

In [15]:
data <- read.csv("../mydata/도로교통공단_시군구별 월별 교통사고 통계_20231231.csv", fileEncoding = "CP949")
head(data)

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수
1 서울 종로구 1      77       2        15        79      14
2 서울 종로구 2      66       0        17        59       8
3 서울 종로구 3      67       0        15        80       2
4 서울 종로구 4      73       1        17        67       6
5 서울 종로구 5      88       0        21       103      12
6 서울 종로구 6      82       0        17        78       6

In [16]:
length(unique(data$`시군구`))

[1] 207

In [17]:
library(dplyr)

In [18]:
data2 <- select(data, 시도, 시군구, 발생월, 사고건수,사망자수, 경상자수, 부상신고자수)
head(data2)

  시도 시군구 발생월 사고건수 사망자수 경상자수 부상신고자수
1 서울 종로구 1      77       2         79      14
2 서울 종로구 2      66       0         59       8
3 서울 종로구 3      67       0         80       2
4 서울 종로구 4      73       1         67       6
5 서울 종로구 5      88       0        103      12
6 서울 종로구 6      82       0         78       6

In [19]:
data3 <- select(data, 1:2)
head(data3)

  시도 시군구
1 서울 종로구
2 서울 종로구
3 서울 종로구
4 서울 종로구
5 서울 종로구
6 서울 종로구

In [20]:
# '-' 빼고 데이터 출력 
head(select(data, 1:3, -c(중상자수,사망자수)))

  시도 시군구 발생월
1 서울 종로구 1
2 서울 종로구 2
3 서울 종로구 3
4 서울 종로구 4
5 서울 종로구 5
6 서울 종로구 6

In [21]:
head(data)

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수
1 서울 종로구 1      77       2        15        79      14
2 서울 종로구 2      66       0        17        59       8
3 서울 종로구 3      67       0        15        80       2
4 서울 종로구 4      73       1        17        67       6
5 서울 종로구 5      88       0        21       103      12
6 서울 종로구 6      82       0        17        78       6

In [22]:
data$부상자수 = data$`중상자수` + data$`경상자수` + data$`부상신고자수`
head(data)

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수 부상자수
1 서울 종로구 1      77       2        15        79      14           108
2 서울 종로구 2      66       0        17        59       8            84
3 서울 종로구 3      67       0        15        80       2            97
4 서울 종로구 4      73       1        17        67       6            90
5 서울 종로구 5      88       0        21       103      12           136
6 서울 종로구 6      82       0        17        78       6           101

In [23]:
data2 <- mutate(data, 부상자수 + 경상자수 + 중상자수 + 부상신고자수)
head(data2)

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수 부상자수
1 서울 종로구 1      77       2        15        79      14           108
2 서울 종로구 2      66       0        17        59       8            84
3 서울 종로구 3      67       0        15        80       2            97
4 서울 종로구 4      73       1        17        67       6            90
5 서울 종로구 5      88       0        21       103      12           136
6 서울 종로구 6      82       0        17        78       6           101
  부상자수 + 경상자수 + 중상자수 + 부상신고자수
1 216
2 168
3 194
4 180
5 272
6 202

In [24]:
head(data[order(-data$`사고건수`, -data$`경상자수`), ])

     시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수
500  경기 수원시  8     423      3        113      461      35
502  경기 수원시 10     422      1         97      458      37
1089 충북 청주시  9     415      7        112      515      16
1085 충북 청주시  5     414      1        135      484      12
497  경기 수원시  5     405      3         99      458      27
495  경기 수원시  3     405      1         80      445      32
     부상자수
500  609
502  592
1089 643
1085 631
497  584
495  557

In [25]:
head(arrange(data, desc(사고건수), desc(경상자수)))

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수 부상자수
1 경기 수원시  8     423      3        113      461      35           609
2 경기 수원시 10     422      1         97      458      37           592
3 충북 청주시  9     415      7        112      515      16           643
4 충북 청주시  5     414      1        135      484      12           631
5 경기 수원시  5     405      3         99      458      27           584
6 경기 수원시  3     405      1         80      445      32           557

In [26]:
#data5 <- filter(data, 사고건수 >=  20)
#data6 <- arrange(data5, desc(사고건수))
#data6

data5 <- data %>%
  filter(사고건수 >= 20) %>%
  arrange(desc(사고건수))

head(data5, 10)

   시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수 부상자수
1  경기 수원시  8     423      3        113      461      35           609
2  경기 수원시 10     422      1         97      458      37           592
3  충북 청주시  9     415      7        112      515      16           643
4  충북 청주시  5     414      1        135      484      12           631
5  경기 수원시  3     405      1         80      445      32           557
6  경기 수원시  5     405      3         99      458      27           584
7  경기 수원시 11     402      3         82      418      39           539
8  경기 수원시 12     400      6         96      430      38           564
9  충북 청주시 11     400      4        115      435      21           571
10 경기 수원시  9     393      5         84      414      35           533

In [27]:
table(data$`시군구`)

      가평군       강남구       강동구       강릉시       강북구       강서구
          12           12           12           12           12           24
      강진군       강화군       거제시       거창군       경산시       경주시
          12           12           12           12           12           12
      계룡시       계양구       고령군       고성군       고양시       고창군
          12           12           12           24           12           12
      고흥군       곡성군       공주시       과천시       관악구       광명시
          12           12           12           12           12           12
      광산구       광양시       광주시       광진구       괴산군       구례군
          12           12           12           12           12           12
      구로구       구리시       구미시       군산시       군위군       군포시
          12           12           12           12           12           12
      금산군       금정구       금천구       기장군       김제시       김천시
          12           12           12           12           12           12
      김포시       김해시       나주시         남구       남동구     남양주시
          12           12           12           48           12           12
      남원시       남해군       노원구       논산시       단양군       달서구
          12           12           12           12           12           12
      달성군       담양군       당진시       대덕구       도봉구         동구
          12           12           12           12           12           72
    동대문구     동두천시       동래구       동작구       동해시       마포구
          12           12           12           12           12           12
      목포시       무안군       무주군       문경시     미추홀구       밀양시
          12           12           12           12           12           12
      보령시       보성군       보은군       봉화군     부산진구       부안군
          12           12           12           12           12           12
      부여군       부천시       부평구         북구       사상구       사천시
          12           12           12           48           12           12
      사하구       산청군       삼척시       상주시         서구     서귀포시
          12           12           12           12           60           12
    서대문구       서산시       서천군       서초구       성남시       성동구
          12           12           12           12           12           12
      성북구       성주군       세종시       속초시       송파구       수성구
          12           12           12           12           12           12
      수영구       수원시       순창군       순천시       시흥시       신안군
          12           12           12           12           12           12
      아산시       안동시       안산시       안성시       안양시       양구군
          12           12           12           12           12           12
      양산시       양양군       양주시       양천구       양평군       여수시
          12           12           12           12           12           12
      여주시       연수구       연제구       연천군       영광군       영덕군
          12           12           12           12           12           12
      영도구       영동군     영등포구       영암군       영양군       영월군
          12           12           12           12           12           12
      영주시       영천시       예산군       예천군       오산시       옥천군
          12           12           12           12           12           12
      옹진군       완도군       완주군       용산구       용인시       울릉군
          12           12           12           12           12            8
      울주군       울진군       원주시       유성구       은평구       음성군
          12           12           12           12           12           12
      의령군       의성군       의왕시     의정부시       이천시       익산시
          12           12           12           12           12           12
      인제군       임실군       장성군       장수군       장흥군       전주시
          12           12           12           12           12           12
      정선군       정읍시       제주시       제천시       종로구         중구
          12           12           12           12           12           72
      중랑구       증평군       진도군       진안군       진주시       진천군
          12           12           12           12           12           12
      창녕군 창원시(통합)       천안시       철원군       청도군       청송군
          12           12           12           12           12           12
      청양군       청주시       춘천시       충주시       칠곡군       태백시
          12           12           12           12           12           12
      태안군       통영시       파주시       평창군       평택시       포천시
          12           12           12           12           12           12
      포항시       하남시       하동군       함안군       함양군       함평군
          12           12           12           12           12           12
      합천군       해남군     해운대구       홍성군       홍천군       화성시
          12           12           12           12           12           12
      화순군       화천군       횡성군
          12           12           12

In [28]:
data <- mutate(data, 사고당부상자수 = 부상자수/사고건수)

data2 <- select(data, -c(사망자수, 중상자수, 경상자수, 부상신고자수))
head(data2)

  시도 시군구 발생월 사고건수 부상자수 사고당부상자수
1 서울 종로구 1      77       108      1.402597
2 서울 종로구 2      66        84      1.272727
3 서울 종로구 3      67        97      1.447761
4 서울 종로구 4      73        90      1.232877
5 서울 종로구 5      88       136      1.545455
6 서울 종로구 6      82       101      1.231707

In [29]:
filter(data2, 부상자수 >= 10, 사고당부상자수 >= 1 | 부상자수 >= 90)  %>%
    arrange(desc(부상자수))

     시도 시군구 발생월 사고건수 부상자수 사고당부상자수
1    경기 용인시 11     346      658      1.901734
2    충북 청주시  9     415      643      1.549398
3    충북 청주시  5     414      631      1.524155
4    경기 수원시  8     423      609      1.439716
5    경기 수원시 10     422      592      1.402844
6    경기 수원시  5     405      584      1.441975
7    충북 청주시 11     400      571      1.427500
8    경기 수원시  6     392      569      1.451531
9    경기 성남시 12     383      565      1.475196
10   경기 수원시 12     400      564      1.410000
11   충북 청주시 10     374      564      1.508021
12   경기 수원시  3     405      557      1.375309
13   경기 수원시  4     392      557      1.420918
14   경기 수원시  1     384      551      1.434896
15   경기 고양시 12     353      550      1.558074
16   경기 성남시 11     366      545      1.489071
17   충북 청주시  6     377      544      1.442971
18   경기 수원시 11     402      539      1.340796
19   경기 수원시  9     393      533      1.356234
20   경기 고양시  8     326      530      1.625767
21   경기 화성시 12     329      525      1.595745
22   경기 성남시  1     335      524      1.564179
23   경기 용인시  9     363      522      1.438017
24   경기 수원시  2     369      520      1.409214
25   경기 용인시  5     336      516      1.535714
26   경기 평택시  9     307      515      1.677524
27   충북 청주시 12     380      514      1.352632
28   경기 수원시  7     357      513      1.436975
29   충북 청주시  3     336      508      1.511905
30   충북 청주시  8     358      507      1.416201
⋮    ⋮    ⋮      ⋮      ⋮        ⋮        ⋮
2551 전북 진안군  5      8       10       1.250000
2552 전북 무주군  8      7       10       1.428571
2553 전북 임실군  3      8       10       1.250000
2554 전북 순창군  2     10       10       1.000000
2555 전북 순창군  5      8       10       1.250000
2556 전북 고창군  2     10       10       1.000000
2557 전남 곡성군  7      6       10       1.666667
2558 전남 무안군  1     10       10       1.000000
2559 전남 영광군  3      7       10       1.428571
2560 전남 진도군  3     10       10       1.000000
2561 전남 진도군  6      7       10       1.428571
2562 전남 신안군  8      6       10       1.666667
2563 경북 청도군  1      7       10       1.428571
2564 경북 고령군  3      9       10       1.111111
2565 경북 고령군  8      7       10       1.428571
2566 경북 고령군  9      9       10       1.111111
2567 경북 예천군  1      7       10       1.428571
2568 경북 예천군 12      8       10       1.250000
2569 경북 봉화군  1      5       10       2.000000
2570 경북 봉화군  6     10       10       1.000000
2571 경북 울진군  3      9       10       1.111111
2572 경남 의령군  1      8       10       1.250000
2573 경남 창녕군  1      7       10       1.428571
2574 경남 남해군  3      8       10       1.250000
2575 경남 하동군  7      9       10       1.111111
2576 경남 하동군 11      9       10       1.111111
2577 경남 거창군 11      9       10       1.111111
2578 대구 군위군  7      8       10       1.250000
2579 인천 동구    9      7       10       1.428571
2580 인천 동구   12     10       10       1.000000

## 새로운 데이터 시작

In [30]:
newdata <- data %>%
  mutate(
    총부상자수 = 부상자수 + 중상자수 + 경상자수 + 부상신고자수, 
    시도_시군구 = paste(시도, 시군구, sep = " ")                 
  )

head(newdata)

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수 부상자수
1 서울 종로구 1      77       2        15        79      14           108
2 서울 종로구 2      66       0        17        59       8            84
3 서울 종로구 3      67       0        15        80       2            97
4 서울 종로구 4      73       1        17        67       6            90
5 서울 종로구 5      88       0        21       103      12           136
6 서울 종로구 6      82       0        17        78       6           101
  사고당부상자수 총부상자수 시도_시군구
1 1.402597       216        서울 종로구
2 1.272727       168        서울 종로구
3 1.447761       194        서울 종로구
4 1.232877       180        서울 종로구
5 1.545455       272        서울 종로구
6 1.231707       202        서울 종로구

In [31]:
length(unique(newdata$`시도_시군구`))

[1] 230

In [32]:
newdata <- data %>%
  mutate(
    총부상자수 = 부상자수 + 중상자수 + 경상자수 + 부상신고자수, 
    시도_시군구 = paste(시도, 시군구, sep = " ")                 
  ) 
  

head(newdata)

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수 부상자수
1 서울 종로구 1      77       2        15        79      14           108
2 서울 종로구 2      66       0        17        59       8            84
3 서울 종로구 3      67       0        15        80       2            97
4 서울 종로구 4      73       1        17        67       6            90
5 서울 종로구 5      88       0        21       103      12           136
6 서울 종로구 6      82       0        17        78       6           101
  사고당부상자수 총부상자수 시도_시군구
1 1.402597       216        서울 종로구
2 1.272727       168        서울 종로구
3 1.447761       194        서울 종로구
4 1.232877       180        서울 종로구
5 1.545455       272        서울 종로구
6 1.231707       202        서울 종로구

In [33]:
length(unique(newdata$`시도_시군구`))

[1] 230

In [34]:
library(dplyr)

In [35]:
names(newdata)
str(newdata)

 [1] "시도"           "시군구"         "발생월"         "사고건수"
 [5] "사망자수"       "중상자수"       "경상자수"       "부상신고자수"
 [9] "부상자수"       "사고당부상자수" "총부상자수"     "시도_시군구"

'data.frame':	2744 obs. of  12 variables:
 $ 시도          : chr  "서울" "서울" "서울" "서울" ...
 $ 시군구        : chr  "종로구" "종로구" "종로구" "종로구" ...
 $ 발생월        : int  1 2 3 4 5 6 7 8 9 10 ...
 $ 사고건수      : int  77 66 67 73 88 82 95 83 81 96 ...
 $ 사망자수      : int  2 0 0 1 0 0 0 1 1 2 ...
 $ 중상자수      : int  15 17 15 17 21 17 16 21 28 23 ...
 $ 경상자수      : int  79 59 80 67 103 78 97 87 95 93 ...
 $ 부상신고자수  : int  14 8 2 6 12 6 8 6 9 4 ...
 $ 부상자수      : int  108 84 97 90 136 101 121 114 132 120 ...
 $ 사고당부상자수: num  1.4 1.27 1.45 1.23 1.55 ...
 $ 총부상자수    : int  216 168 194 180 272 202 242 228 264 240 ...
 $ 시도_시군구   : chr  "서울 종로구" "서울 종로구" "서울 종로구" "서울 종로구" ...

In [36]:
summary_data <- newdata %>%
  summarize(
    평균_사고건수 = mean(사고건수, na.rm = TRUE), # 사고건수 평균 계산
    최대_경상자수 = max(사고당부상자수, na.rm = TRUE)  # 경상자수 최대값 계산
  )

summary_data

  평균_사고건수 최대_경상자수
1 72.26531      5.125

In [37]:
# 필터링 안에서는 grepl로 작성한다.

cb <- filter(newdata, grepl("충북", 시도_시군구))
table(cb$시도_시군구)

충북 괴산군 충북 단양군 충북 보은군 충북 영동군 충북 옥천군 충북 음성군
         12          12          12          12          12          12
충북 제천시 충북 증평군 충북 진천군 충북 청주시 충북 충주시
         12          12          12          12          12

In [38]:
grp <- group_by(cb, 시도_시군구)

summarize(grp, n(), mean(사고건수), max(사고건수), max(부상자수))

   시도_시군구 n() mean(사고건수) max(사고건수) max(부상자수)
1  충북 괴산군 12   13.666667      21            39
2  충북 단양군 12    8.333333      14            27
3  충북 보은군 12   11.083333      20            44
4  충북 영동군 12   11.166667      22            29
5  충북 옥천군 12   12.250000      19            29
6  충북 음성군 12   39.916667      48            88
7  충북 제천시 12   61.416667      81           112
8  충북 증평군 12   17.166667      27            40
9  충북 진천군 12   39.666667      51            81
10 충북 청주시 12  361.416667     415           643
11 충북 충주시 12   85.500000     105           159

In [39]:
library(readxl)

In [40]:
data <- read_xlsx("../mydata/일별평균대기오염도_2023.xlsx")
head(data, 10)

   측정일시 측정소명 이산화질소농도 오존농도 일산화탄소농도 아황산가스농도
1  20230101 강남구   0.0240         0.0240   0.60           0.0040
2  20230101 강동구   0.0270         0.0170   0.70           0.0030
3  20230101 강북구       NA         0.0260   0.70           0.0040
4  20230101 강서구   0.0210         0.0250   0.60           0.0040
5  20230101 관악구   0.0250         0.0200   0.60           0.0030
6  20230101 광진구   0.0175         0.0176   0.79           0.0026
7  20230101 구로구   0.0190         0.0210   0.40           0.0030
8  20230101 금천구   0.0230         0.0240   0.60           0.0040
9  20230101 노원구   0.0310         0.0220   0.70           0.0040
10 20230101 도봉구   0.0200         0.0290   0.70           0.0030
   미세먼지농도 초미세먼지농도 월 일
1  52           36             01 01
2  56           43             01 01
3  51           34             01 01
4  62           38             01 01
5  54           35             01 01
6  48           36             01 01
7  53           35             01 01
8  47           38             01 01
9  51           39             01 01
10 43           32             01 01

In [41]:
gang <- data %>% 
    filter(grepl("강.구", 측정소명, ))
table(gang$측정소명)

강남구 강동구 강북구 강서구
   365    365    365    365

In [42]:
summary(gang)

    측정일시          측정소명         이산화질소농도       오존농도
 Min.   :20230101   Length:1460        Min.   :0.00380   Min.   :0.00230
 1st Qu.:20230402   Class :character   1st Qu.:0.01117   1st Qu.:0.02070
 Median :20230702   Mode  :character   Median :0.01660   Median :0.02965
 Mean   :20230668                      Mean   :0.01943   Mean   :0.03070
 3rd Qu.:20231001                      3rd Qu.:0.02540   3rd Qu.:0.03955
 Max.   :20231231                      Max.   :0.06580   Max.   :0.08760
                                       NA's   :20        NA's   :18
 일산화탄소농도   아황산가스농도     미세먼지농도    초미세먼지농도
 Min.   :0.1700   Min.   :0.00160   Min.   :  3.00   Min.   : 1.00
 1st Qu.:0.3400   1st Qu.:0.00230   1st Qu.: 22.00   1st Qu.:11.00
 Median :0.4000   Median :0.00270   Median : 33.00   Median :17.00
 Mean   :0.4395   Mean   :0.00277   Mean   : 39.12   Mean   :19.53
 3rd Qu.:0.5100   3rd Qu.:0.00300   3rd Qu.: 47.00   3rd Qu.:25.00
 Max.   :1.1100   Max.   :0.00540   Max.   :286.00   Max.   :98.00
 NA's   :41       NA's   :33        NA's   :20       NA's   :17
      월                 일
 Length:1460        Length:1460
 Class :character   Class :character
 Mode  :character   Mode  :character

In [43]:
grp <- group_by(gang, 측정소명)

summarize(grp, mean(미세먼지농도), max(초미세먼지농도), )

  측정소명 mean(미세먼지농도) max(초미세먼지농도)
1 강남구   37.26027           86
2 강동구         NA           NA
3 강북구   37.82192           77
4 강서구   42.13425           87

In [44]:
summary_data <- gang %>%
  group_by(측정소명) %>%
  summarize(
    총미세먼지농도 = sum(미세먼지농도, na.rm = TRUE),  # 미세먼지 농도의 합계
    평균미세먼지농도 = mean(미세먼지농도, na.rm = TRUE), # 미세먼지 농도의 평균
    최대초미세먼지농도 = max(초미세먼지농도, na.rm = TRUE) # 초미세먼지 농도의 최대값
  )

# 결과 확인
head(summary_data)

  측정소명 총미세먼지농도 평균미세먼지농도 최대초미세먼지농도
1 강남구   13600          37.26027         86
2 강동구   13547          39.26667         98
3 강북구   13805          37.82192         77
4 강서구   15379          42.13425         87

In [45]:
library(reshape2)

In [46]:
data(gang, 월 ~ 측정소명, value.var='초미세먼지농도', mean, margim=T)

Warning message in data(gang, 월 ~ 측정소명, value.var = "초미세먼지농도", :
“data set ‘gang’ not found”
Warning message in data(gang, 월 ~ 측정소명, value.var = "초미세먼지농도", :
“data set ‘월 ~ 측정소명’ not found”
Warning message in data(gang, 월 ~ 측정소명, value.var = "초미세먼지농도", :
“data set ‘초미세먼지농도’ not found”
Warning message in data(gang, 월 ~ 측정소명, value.var = "초미세먼지농도", :
“data set ‘mean’ not found”
Warning message in data(gang, 월 ~ 측정소명, value.var = "초미세먼지농도", :
“data set ‘T’ not found”