In [1]:
data <- read.csv("../mydata/도로교통공단_시군구별 월별 교통사고 통계_20231231.csv", fileEncoding = "CP949")
head(data)

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수
1 서울 종로구 1      77       2        15        79      14
2 서울 종로구 2      66       0        17        59       8
3 서울 종로구 3      67       0        15        80       2
4 서울 종로구 4      73       1        17        67       6
5 서울 종로구 5      88       0        21       103      12
6 서울 종로구 6      82       0        17        78       6

In [2]:
summary(data)

     시도              시군구              발생월          사고건수
 Length:2744        Length:2744        Min.   : 1.000   Min.   :  1.00
 Class :character   Class :character   1st Qu.: 4.000   1st Qu.: 17.00
 Mode  :character   Mode  :character   Median : 6.500   Median : 47.50
                                       Mean   : 6.502   Mean   : 72.27
                                       3rd Qu.: 9.250   3rd Qu.:100.00
                                       Max.   :12.000   Max.   :423.00
    사망자수         중상자수         경상자수      부상신고자수
 Min.   :0.0000   Min.   :  0.00   Min.   :  0.0   Min.   : 0.000
 1st Qu.:0.0000   1st Qu.:  7.00   1st Qu.: 17.0   1st Qu.: 1.000
 Median :1.0000   Median : 14.00   Median : 50.0   Median : 3.000
 Mean   :0.9297   Mean   : 19.31   Mean   : 77.1   Mean   : 7.012
 3rd Qu.:1.0000   3rd Qu.: 26.00   3rd Qu.:104.0   3rd Qu.: 9.000
 Max.   :8.0000   Max.   :135.00   Max.   :515.0   Max.   :70.000

In [1]:
city <- subset(data, 시군구 %>% c('충주시', '청주시', '제천시'))
grp <- group_by(city, 시군구, 발생월)
summarize(grp, sum(사고건수), mean(사고건수), group='drop')

ERROR: Error in 시군구 %>% c("충주시", "청주시", "제천시"): could not find function "%>%"

In [5]:
library(readxl)

data <- read_xlsx('../mydata/일별평균대기오염도_2023.xlsx')
head(data)

  측정일시 측정소명 이산화질소농도 오존농도 일산화탄소농도 아황산가스농도
1 20230101 강남구   0.0240         0.0240   0.60           0.0040
2 20230101 강동구   0.0270         0.0170   0.70           0.0030
3 20230101 강북구       NA         0.0260   0.70           0.0040
4 20230101 강서구   0.0210         0.0250   0.60           0.0040
5 20230101 관악구   0.0250         0.0200   0.60           0.0030
6 20230101 광진구   0.0175         0.0176   0.79           0.0026
  미세먼지농도 초미세먼지농도 월 일
1 52           36             01 01
2 56           43             01 01
3 51           34             01 01
4 62           38             01 01
5 54           35             01 01
6 48           36             01 01

In [7]:
summary(data[1:6])

    측정일시          측정소명         이산화질소농도      오존농도
 Min.   :20230101   Length:18250       Min.   :0.0013   Min.   :0.00110
 1st Qu.:20230402   Class :character   1st Qu.:0.0131   1st Qu.:0.01910
 Median :20230702   Mode  :character   Median :0.0198   Median :0.02770
 Mean   :20230668                      Mean   :0.0222   Mean   :0.02898
 3rd Qu.:20231001                      3rd Qu.:0.0292   3rd Qu.:0.03740
 Max.   :20231231                      Max.   :0.0763   Max.   :0.10400
                                       NA's   :91       NA's   :93
 일산화탄소농도   아황산가스농도
 Min.   :0.0300   Min.   :0.00080
 1st Qu.:0.3600   1st Qu.:0.00250
 Median :0.4500   Median :0.00280
 Mean   :0.4772   Mean   :0.00288
 3rd Qu.:0.5600   3rd Qu.:0.00320
 Max.   :1.4100   Max.   :0.00790
 NA's   :484      NA's   :221

In [13]:
gang <- filter(data, grepl("강.구", 측정소명))

table(gang$측정소명)

ERROR: Error in eval(expr, envir, enclos): object '측정소명' not found

In [ ]:
# 결측치를 포함해서 출력 
grp <- group_by(gang, 측정소명)

summartize(grp, mean(미세먼지농도), max(미세먼지농도), min(오존농도, na.na=T))
# 결측치를 제외시키려면 각 하나하나마다 na.na=T를 포함시켜야 한다

## reshape2 라이브러리

엑셀에서 피벗테이블과 동일

dgist