In [2]:
a <- 1
b <- 3.5
c <- a+b
print(c)

[1] 4.5

In [3]:
c

[1] 4.5

In [4]:
d <- 500
d

[1] 500

In [5]:
a <- 1:10
a

 [1]  1  2  3  4  5  6  7  8  9 10

In [6]:
.ans <- TRUE; .ans

[1] TRUE

In [7]:
v <- c(10:1); v

 [1] 10  9  8  7  6  5  4  3  2  1

In [8]:
for (x in 1:10) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [9]:
a[1:5]

[1] 1 2 3 4 5

In [10]:
a[c(1,3,5)]

[1] 1 3 5

In [11]:
print(a)

 [1]  1  2  3  4  5  6  7  8  9 10

In [12]:
length(a)

[1] 10

In [13]:
a[15] <- 20
a

 [1]  1  2  3  4  5  6  7  8  9 10 NA NA NA NA 20

In [14]:
a <- matrix(1:12, nrow = 3, ncol = 4)
a

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [15]:
a <- a*10
a

     [,1] [,2] [,3] [,4]
[1,] 10   40   70   100
[2,] 20   50   80   110
[3,] 30   60   90   120

In [16]:
data <- list(name='mini', ages='24')
data

$name
[1] "mini"

$ages
[1] "24"

In [17]:
name <- c('kim', 'lee', 'jang', 'um')
a <- c(10, 21, 31, 41)
s <- c(90, 95, 85, 99)
name
a
s

[1] "kim"  "lee"  "jang" "um"

[1] 10 21 31 41

[1] 90 95 85 99

In [18]:
df <- data.frame(name = name, age = a, score = s)
df

  name age score
1 kim  10  90
2 lee  21  95
3 jang 31  85
4 um   41  99