In [112]:
library(doBy)

In [113]:
result <- summaryBy(len ~ supp, data=ToothGrowth, FUN=mean)
result

  supp len.mean
1 OJ   20.66333
2 VC   16.96333

In [114]:
class(result)

[1] "data.frame"

In [115]:
result <- summary(mpg ~ cyl, data=mtcars, Fun=mean)
result

 Length   Class    Mode
      3 formula    call

In [116]:
summaryBy(len ~ supp + dose, data=ToothGrowth, FUN=median)

  supp dose len.median
1 OJ   0.5  12.25
2 OJ   1.0  23.45
3 OJ   2.0  25.95
4 VC   0.5   7.15
5 VC   1.0  16.50
6 VC   2.0  25.95

In [117]:
summary_by(mpg ~ am+ cyl, data=mtcars, FUN=mean)

  am cyl mpg.mean
1 0  4   22.90000
2 0  6   19.12500
3 0  8   15.05000
4 1  4   28.07500
5 1  6   20.56667
6 1  8   15.40000

In [118]:
result <- summaryBy(len ~ supp, data=ToothGrowth, FUN=c(min, mean, max))
result

  supp len.min len.mean len.max
1 OJ   8.2     20.66333 30.9
2 VC   4.2     16.96333 33.9

In [119]:
result <- summaryBy(len ~ supp + dose, data=ToothGrowth, FUN=c(min, mean, max))
result

  supp dose len.min len.mean len.max
1 OJ   0.5   8.2    13.23    21.5
2 OJ   1.0  14.5    22.70    27.3
3 OJ   2.0  22.4    26.06    30.9
4 VC   0.5   4.2     7.98    11.5
5 VC   1.0  13.6    16.77    22.5
6 VC   2.0  18.5    26.14    33.9

In [120]:
summaryBy(mpg ~ cyl, data=mtcars, FUN=c(length, min, mean, max))

  cyl mpg.length mpg.min mpg.mean mpg.max
1 4   11         21.4    26.66364 33.9
2 6    7         17.8    19.74286 21.4
3 8   14         10.4    15.10000 19.2

In [121]:
summaryBy(mpg ~ am+cyl, data=mtcars, FUN=c(length, min, mean, max))

  am cyl mpg.length mpg.min mpg.mean mpg.max
1 0  4    3         21.5    22.90000 24.4
2 0  6    4         17.8    19.12500 21.4
3 0  8   12         10.4    15.05000 19.2
4 1  4    8         21.4    28.07500 33.9
5 1  6    3         19.7    20.56667 21.0
6 1  8    2         15.0    15.40000 15.8

In [122]:
library(readxl)

data <- read_xlsx("../mydata/일별평균대기오염도_2023.xlsx")
tail(data)

  측정일시 측정소명     이산화질소농도 오존농도 일산화탄소농도 아황산가스농도
1 20231231 항동         0.0251         0.0169   0.77           0.0028
2 20231231 행주         0.0167         0.0257   0.68           0.0026
3 20231231 마포아트센터 0.0266         0.0187   0.68           0.0029
4 20231231 서울숲       0.0207         0.0159   0.91           0.0024
5 20231231 올림픽공원   0.0245         0.0121   0.93           0.0024
6 20231231 자연사박물관 0.0251         0.0199   0.89           0.0026
  미세먼지농도 초미세먼지농도 월 일
1 21           17             12 31
2 25           16             12 31
3 26           20             12 31
4 23           16             12 31
5 19           18             12 31
6 19           15             12 31

In [123]:
any(is.na(data))

[1] TRUE

In [124]:
names(data) <- c("측정일시", "측정소명", "NO2", "O3", "CO", "SO2", "PM10", "PM25", "월", "일")
tail(data)

  측정일시 측정소명     NO2    O3     CO   SO2    PM10 PM25 월 일
1 20231231 항동         0.0251 0.0169 0.77 0.0028 21   17   12 31
2 20231231 행주         0.0167 0.0257 0.68 0.0026 25   16   12 31
3 20231231 마포아트센터 0.0266 0.0187 0.68 0.0029 26   20   12 31
4 20231231 서울숲       0.0207 0.0159 0.91 0.0024 23   16   12 31
5 20231231 올림픽공원   0.0245 0.0121 0.93 0.0024 19   18   12 31
6 20231231 자연사박물관 0.0251 0.0199 0.89 0.0026 19   15   12 31

In [125]:
idx <- which(is.na(data['PM10']))
head(data[idx, ])

  측정일시 측정소명     NO2    O3     CO   SO2    PM10 PM25 월 일
1 20230101 마포아트센터 0.0230 0.0260 0.70 0.0040 NA   36   01 01
2 20230107 도산대로     0.0305 0.0173 0.97 0.0034 NA   95   01 07
3 20230108 도산대로     0.0374 0.0075 0.99 0.0032 NA   68   01 08
4 20230110 중구             NA     NA   NA     NA NA   NA   01 10
5 20230111 중구             NA     NA   NA     NA NA   NA   01 11
6 20230112 중구             NA     NA   NA     NA NA   NA   01 12

In [126]:
summary(data[3:8])

      NO2               O3                CO              SO2
 Min.   :0.0013   Min.   :0.00110   Min.   :0.0300   Min.   :0.00080
 1st Qu.:0.0131   1st Qu.:0.01910   1st Qu.:0.3600   1st Qu.:0.00250
 Median :0.0198   Median :0.02770   Median :0.4500   Median :0.00280
 Mean   :0.0222   Mean   :0.02898   Mean   :0.4772   Mean   :0.00288
 3rd Qu.:0.0292   3rd Qu.:0.03740   3rd Qu.:0.5600   3rd Qu.:0.00320
 Max.   :0.0763   Max.   :0.10400   Max.   :1.4100   Max.   :0.00790
 NA's   :91       NA's   :93        NA's   :484      NA's   :221
      PM10             PM25
 Min.   :  3.00   Min.   :  1.00
 1st Qu.: 22.00   1st Qu.: 11.00
 Median : 32.00   Median : 17.00
 Mean   : 38.44   Mean   : 19.56
 3rd Qu.: 47.00   3rd Qu.: 25.00
 Max.   :351.00   Max.   :116.00
 NA's   :113      NA's   :118

In [127]:
idx <- grep("산$", data$`측정소명`)
san <- data[idx, ]
table(san$측정소명)

관악산   남산 북한산
   365    365    365

In [128]:
summaryBy(PM10 ~ 측정소명, data=san, FUN=c(min, mean, max))

  측정소명 PM10.min PM10.mean PM10.max
1 관악산    3       34.94521  321
2 남산      3       35.20822  301
3 북한산   NA             NA   NA

In [129]:
summaryBy(PM10 ~ 측정소명, data=san, FUN=c(min, mean, max),
         na.rm = T)

  측정소명 PM10.min PM10.mean PM10.max
1 관악산   3        34.94521  321
2 남산     3        35.20822  301
3 북한산   3        31.76648  255

In [130]:
# 에러가 나는 드드
# summaryBy(PM10 ~ 측정소명, data=san, FUN=c(length, min, mean, max),
#          na.rm = T)

In [131]:
# 결측지(NA)를 포함하는 행 검색
idx <- which(is.na(san$PM10))
idx

[1] 546

In [132]:
# NA를 포함하는 행 삭제
san2 <- san[-idx, ]
summaryBy(PM10 ~ 측정소명, data=san2, FUN=c(length, min, mean, max))

  측정소명 PM10.length PM10.min PM10.mean PM10.max
1 관악산   365         3        34.94521  321
2 남산     365         3        35.20822  301
3 북한산   364         3        31.76648  255

In [133]:
summaryBy(PM10 ~ 월 + 측정소명, data=san2, FUN=c(min, mean, max))

   월 측정소명 PM10.min PM10.mean PM10.max
1  01 관악산    3       40.32258  113
2  01 남산      6       45.45161  134
3  01 북한산    5       39.74194  137
4  02 관악산   17       43.07143   77
5  02 남산     14       44.39286   82
6  02 북한산   10       37.82143   66
7  03 관악산   35       67.54839  162
8  03 남산     33       70.41935  147
9  03 북한산   28       61.64516  146
10 04 관악산    6       65.56667  321
11 04 남산     12       63.43333  301
12 04 북한산    7       56.10000  255
13 05 관악산    5       37.70968  153
14 05 남산      5       38.51613  137
15 05 북한산    4       29.00000  110
16 06 관악산    4       26.96667   52
17 06 남산      6       26.30000   42
18 06 북한산    6       20.30000   36
19 07 관악산    3       20.93548   61
20 07 남산      4       21.29032   56
21 07 북한산    7       23.03333   57
22 08 관악산    3       16.96774   36
23 08 남산      3       15.29032   33
24 08 북한산    4       20.70968   41
25 09 관악산    3       17.23333   35
26 09 남산      3       14.86667   44
27 09 북한산    4       17.66667   45
28 10 관악산   10       27.25806   54
29 10 남산      5       25.54839   54
30 10 북한산    6       21.22581   49
31 11 관악산   11       26.26667   88
32 11 남산      8       25.70000   92
33 11 북한산   11       25.20000   82
34 12 관악산    3       30.16129   88
35 12 남산      4       31.83871   81
36 12 북한산    3       28.80645   76

In [134]:
library(dplyr)

In [135]:
data <- read.csv("../mydata/2023년_도로교통공단_일자별 시군구별 교통사고 건수.csv", fileEncoding = "CP949")
head(data)

  발생월 발생일 시도 시군구   사고건수 사망자수 중상자수 경상자수 부상신고자수
1 1      1      서울 용산구   4        0        0         5       0
2 1      1      서울 성동구   4        0        0        13       0
3 1      1      서울 동대문구 5        0        1         5       1
4 1      1      서울 성북구   4        0        1         3       0
5 1      1      서울 은평구   3        0        3         0       0
6 1      1      서울 서대문구 2        0        0         1       1

In [136]:
data2 <- select(data, 발생월, 발생일, 시도, 시군구, 사고건수, 경상자수)
head(data2)

  발생월 발생일 시도 시군구   사고건수 경상자수
1 1      1      서울 용산구   4         5
2 1      1      서울 성동구   4        13
3 1      1      서울 동대문구 5         5
4 1      1      서울 성북구   4         3
5 1      1      서울 은평구   3         0
6 1      1      서울 서대문구 2         1

In [137]:
data3 <- select(data, c(1:5, 8))
head(data3, 3)

  발생월 발생일 시도 시군구   사고건수 경상자수
1 1      1      서울 용산구   4         5
2 1      1      서울 성동구   4        13
3 1      1      서울 동대문구 5         5

In [138]:
data2 <- mutate(data, 부상자수=경상자수+중상자수+부상신고자수)
data3 <- mutate(data2, 시도_시군구 = paste(시도, 시군구))
head(data3)

  발생월 발생일 시도 시군구   사고건수 사망자수 중상자수 경상자수 부상신고자수
1 1      1      서울 용산구   4        0        0         5       0
2 1      1      서울 성동구   4        0        0        13       0
3 1      1      서울 동대문구 5        0        1         5       1
4 1      1      서울 성북구   4        0        1         3       0
5 1      1      서울 은평구   3        0        3         0       0
6 1      1      서울 서대문구 2        0        0         1       1
  부상자수 시도_시군구
1  5       서울 용산구
2 13       서울 성동구
3  7       서울 동대문구
4  4       서울 성북구
5  3       서울 은평구
6  2       서울 서대문구

In [139]:
data4 <- mutate(data3, 사고당부상자수=부상자수/사고건수)
data5 <- select(data4, c(11,1,2,5,10,12))
head(data5)

  시도_시군구   발생월 발생일 사고건수 부상자수 사고당부상자수
1 서울 용산구   1      1      4         5       1.25
2 서울 성동구   1      1      4        13       3.25
3 서울 동대문구 1      1      5         7       1.40
4 서울 성북구   1      1      4         4       1.00
5 서울 은평구   1      1      3         3       1.00
6 서울 서대문구 1      1      2         2       1.00

In [140]:
head(data5)

  시도_시군구   발생월 발생일 사고건수 부상자수 사고당부상자수
1 서울 용산구   1      1      4         5       1.25
2 서울 성동구   1      1      4        13       3.25
3 서울 동대문구 1      1      5         7       1.40
4 서울 성북구   1      1      4         4       1.00
5 서울 은평구   1      1      3         3       1.00
6 서울 서대문구 1      1      2         2       1.00

In [141]:
head(arrange(data5, desc(사고건수)),8)

  시도_시군구 발생월 발생일 사고건수 부상자수 사고당부상자수
1 경기 성남시 12     22     33       54       1.636364
2 경기 성남시 12     21     30       42       1.400000
3 서울 강남구  4      7     27       36       1.333333
4 경기 수원시  8     18     27       39       1.444444
5 경기 수원시  2      1     26       34       1.307692
6 충북 청주시  3     20     26       37       1.423077
7 충북 청주시  9     16     26       45       1.730769
8 경기 안산시 12     15     26       36       1.384615

In [142]:
head(arrange(data5, desc(사고건수), 사고당부상자수),8)

  시도_시군구 발생월 발생일 사고건수 부상자수 사고당부상자수
1 경기 성남시 12     22     33       54       1.636364
2 경기 성남시 12     21     30       42       1.400000
3 서울 강남구  4      7     27       36       1.333333
4 경기 수원시  8     18     27       39       1.444444
5 서울 강남구 12     21     26       30       1.153846
6 경기 수원시  2      1     26       34       1.307692
7 경기 안산시 12     15     26       36       1.384615
8 충북 청주시  3     20     26       37       1.423077

In [143]:
data6 <- filter(data5, 사고당부상자수 >= 4)
data7 <- arrange(data6, desc(사고당부상자수))
head(data7)

  시도_시군구 발생월 발생일 사고건수 부상자수 사고당부상자수
1 부산 사상구 6       1     1        33       33.0
2 경기 여주시 6       9     2        57       28.5
3 강원 홍천군 6      16     2        57       28.5
4 부산 중구   2      26     1        21       21.0
5 충남 홍성군 5      23     1        18       18.0
6 서울 강서구 6       3     1        15       15.0

In [144]:
data6 <- filter(data5, 사고당부상자수 >= 4) %>%
    arrange(desc(사고당부상자수))
head(data6)

  시도_시군구 발생월 발생일 사고건수 부상자수 사고당부상자수
1 부산 사상구 6       1     1        33       33.0
2 경기 여주시 6       9     2        57       28.5
3 강원 홍천군 6      16     2        57       28.5
4 부산 중구   2      26     1        21       21.0
5 충남 홍성군 5      23     1        18       18.0
6 서울 강서구 6       3     1        15       15.0

In [145]:
data7 <- filter(data6, 사고당부상자수>=15, 부상자수>=10)
data7

  시도_시군구 발생월 발생일 사고건수 부상자수 사고당부상자수
1 부산 사상구  6      1     1        33       33.0
2 경기 여주시  6      9     2        57       28.5
3 강원 홍천군  6     16     2        57       28.5
4 부산 중구    2     26     1        21       21.0
5 충남 홍성군  5     23     1        18       18.0
6 서울 강서구  6      3     1        15       15.0
7 강원 홍천군 11     21     2        30       15.0

In [146]:
filter(data6, 사고당부상자수>=15, 부상자수>=10)

  시도_시군구 발생월 발생일 사고건수 부상자수 사고당부상자수
1 부산 사상구  6      1     1        33       33.0
2 경기 여주시  6      9     2        57       28.5
3 강원 홍천군  6     16     2        57       28.5
4 부산 중구    2     26     1        21       21.0
5 충남 홍성군  5     23     1        18       18.0
6 서울 강서구  6      3     1        15       15.0
7 강원 홍천군 11     21     2        30       15.0

In [147]:
filter(data6, 사고당부상자수>=10 | 부상자수>=70, 사고건수>=4)

  시도_시군구 발생월 발생일 사고건수 부상자수 사고당부상자수
1 전남 광양시  9     18      4       51       12.750000
2 서울 서초구  5     20      8       83       10.375000
3 경기 포천시  1     15     13       90        6.923077
4 경기 용인시 11      3     19       94        4.947368

In [148]:
data2 <- mutate(data, 부상자수=경상자수+중상자수+부상신고자수)
data3 <- mutate(data2, 시도_시군구 = paste(시도, 시군구))
head(data3)

  발생월 발생일 시도 시군구   사고건수 사망자수 중상자수 경상자수 부상신고자수
1 1      1      서울 용산구   4        0        0         5       0
2 1      1      서울 성동구   4        0        0        13       0
3 1      1      서울 동대문구 5        0        1         5       1
4 1      1      서울 성북구   4        0        1         3       0
5 1      1      서울 은평구   3        0        3         0       0
6 1      1      서울 서대문구 2        0        0         1       1
  부상자수 시도_시군구
1  5       서울 용산구
2 13       서울 성동구
3  7       서울 동대문구
4  4       서울 성북구
5  3       서울 은평구
6  2       서울 서대문구

In [149]:
data %>%
    mutate(부상자수=경상자수+중상자수+부상신고자수) %>%
    mutate(시도_시군구 = paste(시도, 시군구)) %>%
    head()

  발생월 발생일 시도 시군구   사고건수 사망자수 중상자수 경상자수 부상신고자수
1 1      1      서울 용산구   4        0        0         5       0
2 1      1      서울 성동구   4        0        0        13       0
3 1      1      서울 동대문구 5        0        1         5       1
4 1      1      서울 성북구   4        0        1         3       0
5 1      1      서울 은평구   3        0        3         0       0
6 1      1      서울 서대문구 2        0        0         1       1
  부상자수 시도_시군구
1  5       서울 용산구
2 13       서울 성동구
3  7       서울 동대문구
4  4       서울 성북구
5  3       서울 은평구
6  2       서울 서대문구

In [150]:
data2 <- mutate(data, 부상자수=경상자수+중상자수+부상신고자수)
data3 <- mutate(data2, 시도_시군구 = paste(시도, 시군구))
data4 <- mutate(data3, 사고당부상자수=부상자수/사고건수)
data5 <- select(data4, c(11,1,2,5,10,12))
data6 <- filter(data5, 사고당부상자수 >= 4)
data7 <- arrange(data6, desc(사고당부상자수))
head(data7,3)

  시도_시군구 발생월 발생일 사고건수 부상자수 사고당부상자수
1 부산 사상구 6       1     1        33       33.0
2 경기 여주시 6       9     2        57       28.5
3 강원 홍천군 6      16     2        57       28.5

In [151]:
data7 <- data %>%
    mutate(부상자수=경상자수+중상자수+부상신고자수) %>%
    mutate(시도_시군구 = paste(시도, 시군구)) %>%
    mutate(사고당부상자수=부상자수/사고건수) %>%
    select(c(11,1,2,5,10,12)) %>%
    filter(사고당부상자수 >= 4) %>%
    arrange(desc(사고당부상자수)) 
head(data7,3)

  시도_시군구 발생월 발생일 사고건수 부상자수 사고당부상자수
1 부산 사상구 6       1     1        33       33.0
2 경기 여주시 6       9     2        57       28.5
3 강원 홍천군 6      16     2        57       28.5

In [152]:
newdata <- data %>%
    mutate(부상자수=경상자수+중상자수+부상신고자수) %>%
    mutate(시도_시군구 = paste(시도, 시군구)) 
head(newdata,3)

  발생월 발생일 시도 시군구   사고건수 사망자수 중상자수 경상자수 부상신고자수
1 1      1      서울 용산구   4        0        0         5       0
2 1      1      서울 성동구   4        0        0        13       0
3 1      1      서울 동대문구 5        0        1         5       1
  부상자수 시도_시군구
1  5       서울 용산구
2 13       서울 성동구
3  7       서울 동대문구

In [153]:
newdata <- select(newdata, c(11,1,2,5:10)) 
head(newdata,3)

  시도_시군구   발생월 발생일 사고건수 사망자수 중상자수 경상자수 부상신고자수
1 서울 용산구   1      1      4        0        0         5       0
2 서울 성동구   1      1      4        0        0        13       0
3 서울 동대문구 1      1      5        0        1         5       1
  부상자수
1  5
2 13
3  7

In [154]:
str(newdata)

'data.frame':	57733 obs. of  9 variables:
 $ 시도_시군구 : chr  "서울 용산구" "서울 성동구" "서울 동대문구" "서울 성북구" ...
 $ 발생월      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ 발생일      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ 사고건수    : int  4 4 5 4 3 2 2 2 3 4 ...
 $ 사망자수    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 중상자수    : int  0 0 1 1 3 0 1 1 0 1 ...
 $ 경상자수    : int  5 13 5 3 0 1 1 1 6 4 ...
 $ 부상신고자수: int  0 0 1 0 0 1 0 0 0 0 ...
 $ 부상자수    : int  5 13 7 4 3 2 2 2 6 5 ...

In [155]:
summarise(newdata, mean(사고건수))

  mean(사고건수)
1 3.434708

In [156]:
summarise(newdata, n(), mean(사고건수), mean(부상자수), max(경상자수))

  n()   mean(사고건수) mean(부상자수) max(경상자수)
1 57733 3.434708       4.915715       77

In [157]:
result <- summarise(newdata, 자료수=n(), 평균_사고건수=mean(사고건수), 
          평균_부상자수=mean(부상자수), 최댓값_경상자수=max(경상자수))
result

  자료수 평균_사고건수 평균_부상자수 최댓값_경상자수
1 57733  3.434708      4.915715      77

In [158]:
print(result)

  자료수 평균_사고건수 평균_부상자수 최댓값_경상자수
1  57733      3.434708      4.915715              77

In [159]:
cb <- filter(newdata, grepl("충북", 시도_시군구))
table(cb$시도_시군구)

충북 괴산군 충북 단양군 충북 보은군 충북 영동군 충북 옥천군 충북 음성군
        133          81         106         105         117         264
충북 제천시 충북 증평군 충북 진천군 충북 청주시 충북 충주시
        315         154         255         365         343

In [160]:
grp <- group_by(cb, 시도_시군구)
result <- summarise(grp, n(), 일평균사고건수=mean(사고건수))
result

   시도_시군구 n() 일평균사고건수
1  충북 괴산군 133  1.233083
2  충북 단양군  81  1.234568
3  충북 보은군 106  1.254717
4  충북 영동군 105  1.276190
5  충북 옥천군 117  1.256410
6  충북 음성군 264  1.814394
7  충북 제천시 315  2.339683
8  충북 증평군 154  1.337662
9  충북 진천군 255  1.866667
10 충북 청주시 365 11.882192
11 충북 충주시 343  2.991254

In [161]:
grp <- group_by(cb, 시도_시군구)
summarise(grp, 자료수=n(), 합계=sum(사고건수),
          평균=mean(사고건수),
          최솟값=min(사고건수),
          최댓값=max(사고건수)) %>%
    arrange(desc(합계))

   시도_시군구 자료수 합계 평균      최솟값 최댓값
1  충북 청주시 365    4337 11.882192 2      26
2  충북 충주시 343    1026  2.991254 1       9
3  충북 제천시 315     737  2.339683 1       8
4  충북 음성군 264     479  1.814394 1       6
5  충북 진천군 255     476  1.866667 1       5
6  충북 증평군 154     206  1.337662 1       4
7  충북 괴산군 133     164  1.233083 1       3
8  충북 옥천군 117     147  1.256410 1       3
9  충북 영동군 105     134  1.276190 1       4
10 충북 보은군 106     133  1.254717 1       3
11 충북 단양군  81     100  1.234568 1       4

In [162]:
city <- filter(cb, grepl("시$", 시도_시군구)) %>%
    filter(발생월 <= 6)
table(city$시도_시군구)
table(city$발생월)

충북 제천시 충북 청주시 충북 충주시
        149         181         170

 1  2  3  4  5  6
80 72 85 86 92 85

In [163]:
head(city)

  시도_시군구 발생월 발생일 사고건수 사망자수 중상자수 경상자수 부상신고자수
1 충북 청주시 1      1      10       0        2        10       0
2 충북 충주시 1      1       1       0        0         1       0
3 충북 청주시 1      2       5       0        0         6       0
4 충북 충주시 1      2       2       0        1         1       0
5 충북 제천시 1      2       1       0        1         0       0
6 충북 청주시 1      3      10       0        0        14       0
  부상자수
1 12
2  1
3  6
4  2
5  1
6 14

In [165]:
# 2개의 그룹변수
city %>%
    group_by(시도_시군구, 발생월) %>%
    summarise(mean(사고건수), max(사고건수), max(부상자수), .groups='drop')

   시도_시군구 발생월 mean(사고건수) max(사고건수) max(부상자수)
1  충북 제천시 1       1.608696       3             5
2  충북 제천시 2       2.000000       4            10
3  충북 제천시 3       1.730769       4             6
4  충북 제천시 4       2.555556       8            12
5  충북 제천시 5       2.700000       7             9
6  충북 제천시 6       2.423077       5            14
7  충북 청주시 1       9.225806      17            24
8  충북 청주시 2       9.678571      18            46
9  충북 청주시 3      10.838710      26            37
10 충북 청주시 4      11.800000      18            29
11 충북 청주시 5      13.354839      23            35
12 충북 청주시 6      12.566667      21            34
13 충북 충주시 1       3.000000       7            10
14 충북 충주시 2       2.222222       5             7
15 충북 충주시 3       2.821429       6             9
16 충북 충주시 4       3.068966       8            10
17 충북 충주시 5       3.387097       9            15
18 충북 충주시 6       3.068966       8            15

In [166]:
# 데이터 data에서 광역시도별 통계량
grp <- group_by(data, 시도)
summarise(grp, 자료수=n(), 합계=sum(사고건수),
          평균=mean(사고건수),
          최솟값=min(사고건수),
          최댓값=max(사고건수)) %>%
    arrange(desc(최댓값))

   시도 자료수 합계  평균     최솟값 최댓값
1  경기 9830   53164 5.408342 1      33
2  서울 8544   33811 3.957280 1      27
3  충북 2238    7939 3.547364 1      26
4  충남 3161    8606 2.722556 1      21
5  경남 3915   11122 2.840868 1      18
6  대구 2756   10880 3.947750 1      18
7  대전 1736    7398 4.261521 1      18
8  제주  719    3950 5.493741 1      17
9  경북 4439   10777 2.427799 1      16
10 광주 1672    6972 4.169856 1      16
11 인천 2572    7648 2.973561 1      13
12 전북 2411    5830 2.418084 1      13
13 강원 3005    6079 2.022962 1      12
14 부산 4703   11003 2.339570 1      11
15 세종  341    1166 3.419355 1      11
16 전남 4149    8287 1.997349 1      10
17 울산 1542    3664 2.376135 1       9

In [168]:
# 서울시 대기오염 데이터

data <- read_xlsx("../mydata/일별평균대기오염도_2023.xlsx")
head(data,3)

  측정일시 측정소명 이산화질소농도 오존농도 일산화탄소농도 아황산가스농도
1 20230101 강남구   0.024          0.024    0.6            0.004
2 20230101 강동구   0.027          0.017    0.7            0.003
3 20230101 강북구      NA          0.026    0.7            0.004
  미세먼지농도 초미세먼지농도 월 일
1 52           36             01 01
2 56           43             01 01
3 51           34             01 01

In [169]:
gang <- data %>%
    filter(grepl("^강.*구$", 측정소명)) %>%
    select(측정소명, 월, 일, 미세먼지농도)
head(gang)

  측정소명 월 일 미세먼지농도
1 강남구   01 01 52
2 강동구   01 01 56
3 강북구   01 01 51
4 강서구   01 01 62
5 강남구   01 02 24
6 강동구   01 02 26

In [170]:
table(gang$측정소명)

강남구 강동구 강북구 강서구
   365    365    365    365

In [171]:
summary(gang)

   측정소명              월                 일             미세먼지농도
 Length:1460        Length:1460        Length:1460        Min.   :  3.00
 Class :character   Class :character   Class :character   1st Qu.: 22.00
 Mode  :character   Mode  :character   Mode  :character   Median : 33.00
                                                          Mean   : 39.12
                                                          3rd Qu.: 47.00
                                                          Max.   :286.00
                                                          NA's   :20

In [172]:
grp <- group_by(gang, 측정소명)
summarise(grp, n(), mean(미세먼지농도))

  측정소명 n() mean(미세먼지농도)
1 강남구   365 37.26027
2 강동구   365       NA
3 강북구   365 37.82192
4 강서구   365 42.13425

In [173]:
summarise(grp, n(), mean(미세먼지농도, na.rm=T))

  측정소명 n() mean(미세먼지농도, na.rm = T)
1 강남구   365 37.26027
2 강동구   365 39.26667
3 강북구   365 37.82192
4 강서구   365 42.13425

In [174]:
summarise(grp, 자료수=sum(!is.na(미세먼지농도)), 
          평균미세먼지농도=mean(미세먼지농도, na.rm=T))

  측정소명 자료수 평균미세먼지농도
1 강남구   365    37.26027
2 강동구   345    39.26667
3 강북구   365    37.82192
4 강서구   365    42.13425

In [175]:
gang %>%
    na.omit() %>%
    group_by(측정소명) %>%
    summarise(n(), mean(미세먼지농도))

  측정소명 n() mean(미세먼지농도)
1 강남구   365 37.26027
2 강동구   345 39.26667
3 강북구   365 37.82192
4 강서구   365 42.13425

In [178]:
road <- data %>%
    filter(grepl("^[관광도마].*구$", 측정소명)) %>%
    select(측정소명, 월, 일, 미세먼지농도) %>%
    na.omit() %>%
    group_by(측정소명) %>%
    summarise(n(), mean(미세먼지농도))
road

  측정소명 n() mean(미세먼지농도)
1 관악구   363 41.61157
2 광진구   364 36.31044
3 도봉구   363 35.01653
4 마포구   363 35.17080

In [179]:
library(reshape2)
library(dplyr)
library(readxl)

In [180]:
data <- read_xlsx("../mydata/일별평균대기오염도_2023.xlsx")
head(data)

  측정일시 측정소명 이산화질소농도 오존농도 일산화탄소농도 아황산가스농도
1 20230101 강남구   0.0240         0.0240   0.60           0.0040
2 20230101 강동구   0.0270         0.0170   0.70           0.0030
3 20230101 강북구       NA         0.0260   0.70           0.0040
4 20230101 강서구   0.0210         0.0250   0.60           0.0040
5 20230101 관악구   0.0250         0.0200   0.60           0.0030
6 20230101 광진구   0.0175         0.0176   0.79           0.0026
  미세먼지농도 초미세먼지농도 월 일
1 52           36             01 01
2 56           43             01 01
3 51           34             01 01
4 62           38             01 01
5 54           35             01 01
6 48           36             01 01

In [181]:
news <- data %>%
    filter(grepl("강.구|중구", 측정소명)) %>%
    select(측정소명, 월, 초미세먼지농도)
head(news)

  측정소명 월 초미세먼지농도
1 강남구   01 36
2 강동구   01 43
3 강북구   01 34
4 강서구   01 38
5 중구     01 46
6 강남구   01 11

In [182]:
grp <- group_by(news, 측정소명) 
summarise(grp, N=sum(!is.na(초미세먼지농도)),
          PM25평균=mean(초미세먼지농도, na.rm=T))

  측정소명 N   PM25평균
1 강남구   365 19.39178
2 강동구   348 20.26149
3 강북구   365 19.26575
4 강서구   365 19.23562
5 중구     321 19.47975

In [183]:
grp <- group_by(news, 월) 
summarise(grp, N=sum(!is.na(초미세먼지농도)),
          PM25평균=mean(초미세먼지농도, na.rm=T))

   월 N   PM25평균
1  01 133 27.24060
2  02 119 30.43697
3  03 155 29.98065
4  04 150 20.36000
5  05 155 17.78710
6  06 150 16.95333
7  07 155 17.11613
8  08 154 13.87662
9  09 138 11.72464
10 10 150 14.88000
11 11 150 16.04000
12 12 155 20.27742

In [184]:
dcast(news, 월 ~ 측정소명, value.var="초미세먼지농도", mean, margins=T, na.rm=T)

   월    강남구   강동구   강북구   강서구   중구     (all)
1  01    25.03226 28.16129 24.58065 25.16129 48.00000 27.24060
2  02    27.85714 31.50000 31.64286 30.60714 31.00000 30.43697
3  03    26.61290 30.58065 29.41935 31.67742 31.61290 29.98065
4  04    19.30000 20.53333 20.73333 20.63333 20.60000 20.36000
5  05    17.58065 17.96774 17.22581 18.45161 17.70968 17.78710
6  06    18.20000 16.50000 16.43333 16.93333 16.70000 16.95333
7  07    18.48387 15.29032 17.61290 16.64516 17.54839 17.11613
8  08    14.90323 13.64516 13.80645 13.22581 13.80000 13.87662
9  09    12.63333 12.44444 10.90000 11.56667 11.36667 11.72464
10 10    15.35484 18.23077 13.74194 12.96774 14.64516 14.88000
11 11    16.80000 15.63333 15.76667 14.73333 17.26667 16.04000
12 12    20.41935 19.87097 20.09677 18.90323 22.09677 20.27742
13 (all) 19.39178 20.26149 19.26575 19.23562 19.47975 19.52098

In [185]:
dcast(news, 측정소명~월, value.var="초미세먼지농도", mean, margins=T, na.rm=T)

  측정소명 01       02       03       04       05       06       07
1 강남구   25.03226 27.85714 26.61290 19.30000 17.58065 18.20000 18.48387
2 강동구   28.16129 31.50000 30.58065 20.53333 17.96774 16.50000 15.29032
3 강북구   24.58065 31.64286 29.41935 20.73333 17.22581 16.43333 17.61290
4 강서구   25.16129 30.60714 31.67742 20.63333 18.45161 16.93333 16.64516
5 중구     48.00000 31.00000 31.61290 20.60000 17.70968 16.70000 17.54839
6 (all)    27.24060 30.43697 29.98065 20.36000 17.78710 16.95333 17.11613
  08       09       10       11       12       (all)
1 14.90323 12.63333 15.35484 16.80000 20.41935 19.39178
2 13.64516 12.44444 18.23077 15.63333 19.87097 20.26149
3 13.80645 10.90000 13.74194 15.76667 20.09677 19.26575
4 13.22581 11.56667 12.96774 14.73333 18.90323 19.23562
5 13.80000 11.36667 14.64516 17.26667 22.09677 19.47975
6 13.87662 11.72464 14.88000 16.04000 20.27742 19.52098