In [1]:
tolower("Hello world!")

[1] "hello world!"

In [2]:
toupper("Hello world!")

[1] "HELLO WORLD!"

In [3]:
paste("2024", "11", "00")

[1] "2024 11 00"

In [4]:
paste("2024", "11", "00", sep="-")

[1] "2024-11-00"

In [5]:
paste(c("apple", "mango", "I like Orange"))

[1] "apple"         "mango"         "I like Orange"

In [6]:
cat(c("apple", "mango", "I like Orange"))

apple mango I like Orange

In [7]:
paste0("2024", "11", "00")

[1] "20241100"

In [8]:
paste0("V", 1:10)

 [1] "V1"  "V2"  "V3"  "V4"  "V5"  "V6"  "V7"  "V8"  "V9"  "V10"

In [9]:
paste0("S", rep(1:10, each=5))

 [1] "S1"  "S1"  "S1"  "S1"  "S1"  "S2"  "S2"  "S2"  "S2"  "S2"  "S3"  "S3"
[13] "S3"  "S3"  "S3"  "S4"  "S4"  "S4"  "S4"  "S4"  "S5"  "S5"  "S5"  "S5"
[25] "S5"  "S6"  "S6"  "S6"  "S6"  "S6"  "S7"  "S7"  "S7"  "S7"  "S7"  "S8"
[37] "S8"  "S8"  "S8"  "S8"  "S9"  "S9"  "S9"  "S9"  "S9"  "S10" "S10" "S10"
[49] "S10" "S10"

In [10]:
rep(paste0("S", 1:10), each=5)

 [1] "S1"  "S1"  "S1"  "S1"  "S1"  "S2"  "S2"  "S2"  "S2"  "S2"  "S3"  "S3"
[13] "S3"  "S3"  "S3"  "S4"  "S4"  "S4"  "S4"  "S4"  "S5"  "S5"  "S5"  "S5"
[25] "S5"  "S6"  "S6"  "S6"  "S6"  "S6"  "S7"  "S7"  "S7"  "S7"  "S7"  "S8"
[37] "S8"  "S8"  "S8"  "S8"  "S9"  "S9"  "S9"  "S9"  "S9"  "S10" "S10" "S10"
[49] "S10" "S10"

In [11]:
substr("20241100", 1, 4)
substr("20241100", 5, 6)
substr("20241100", 7, 8)

[1] "2024"

[1] "11"

[1] "00"

In [12]:
names <- c("허준", "홍길동", "이몽룡", "건국대학교", "과학기술")
nchar(names)

[1] 2 3 3 5 4

In [13]:
substr(names, 2, nchar(names) -1)

[1] ""       "길"     "몽"     "국대학" "학기"

In [14]:
substr(names, 2, nchar(names)-1) <- '####'
names

[1] "허준"    "홍#동"   "이#룡"   "건###교" "과##술"

In [15]:
names <- ifelse(
  nchar(names) == 2,
  paste0("#", substr(names, 2, 2)),  # 길이가 2인 경우 첫 문자를 '#'로 교체
  paste0(substr(names, 1, 1), "####", substr(names, nchar(names), nchar(names))) # 그 외의 경우 가운데 문자를 "####"로 교체
)

names

[1] "#준"      "홍####동" "이####룡" "건####교" "과####술"

In [16]:
# 맨 처음 하나 바꾸기
sub("a", "A", "abracadabra")

[1] "Abracadabra"

In [17]:
gsub("a","A","abracadabra")

[1] "AbrAcAdAbrA"

In [18]:
gsub(" ", "", "Pattern Matching and Replacement")

[1] "PatternMatchingandReplacement"

In [19]:
strings <- c("Apple", "tiger", "cat", "banana")
grep("a", strings)

[1] 3 4

In [20]:
# 값으로 문자열 찾기 
grep("a", strings, value=T)

[1] "cat"    "banana"

In [21]:
grep("a", strings, value=T, ignore.case=T)

[1] "Apple"  "cat"    "banana"

In [22]:
grep("a", strings, value=T, ignore.case = T, invert=T)

[1] "tiger"

In [23]:
library(stringr)

Warning message:
“package ‘stringr’ was built under R version 4.3.3”

In [24]:
str_sub("20241108", 1,4)
str_sub("20241108", 5,6)
str_sub("20241108", -2,-1)

[1] "2024"

[1] "11"

[1] "08"

In [25]:
str_sub("20241108", 5)

[1] "1108"

In [26]:
str_flatten(c(1,2,3))

[1] "123"

In [27]:
addr <- c("충북 충주시 연수동", "서울", "부산 해운대구")
word(addr)

[1] "충북" "서울" "부산"

In [28]:
word(addr, 2)

[1] "충주시"   NA         "해운대구"

In [29]:
word(addr, -1)

[1] "연수동"   "서울"     "해운대구"

In [30]:
names <- row.names(mtcars)
print(names)

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

In [31]:
grep("M", names, value=T, ignore.case=T)

 [1] "Mazda RX4"         "Mazda RX4 Wag"     "Merc 240D"
 [4] "Merc 230"          "Merc 280"          "Merc 280C"
 [7] "Merc 450SE"        "Merc 450SL"        "Merc 450SLC"
[10] "Chrysler Imperial" "AMC Javelin"       "Camaro Z28"
[13] "Maserati Bora"

In [32]:
grep("^M", names, value=T, ignore.case=T)

 [1] "Mazda RX4"     "Mazda RX4 Wag" "Merc 240D"     "Merc 230"
 [5] "Merc 280"      "Merc 280C"     "Merc 450SE"    "Merc 450SL"
 [9] "Merc 450SLC"   "Maserati Bora"

In [33]:
grep("a$", names, value=T, ignore.case=T)

[1] "Toyota Corolla" "Toyota Corona"  "Lotus Europa"   "Maserati Bora"

In [34]:
grep("[0-9]$", names, value=T, ignore.case=T)

[1] "Mazda RX4"     "Datsun 710"    "Duster 360"    "Merc 230"
[5] "Merc 280"      "Fiat 128"      "Camaro Z28"    "Fiat X1-9"
[9] "Porsche 914-2"

In [35]:
grep("to|ho|do", names, value=T, ignore.case=T)

[1] "Hornet 4 Drive"    "Hornet Sportabout" "Honda Civic"
[4] "Toyota Corolla"    "Toyota Corona"     "Dodge Challenger"

In [36]:
library(readxl)

data <- read_xlsx("../mydata/일별평균대기오염도_2023.xlsx")
head(data)

  측정일시 측정소명 이산화질소농도 오존농도 일산화탄소농도 아황산가스농도
1 20230101 강남구   0.0240         0.0240   0.60           0.0040
2 20230101 강동구   0.0270         0.0170   0.70           0.0030
3 20230101 강북구       NA         0.0260   0.70           0.0040
4 20230101 강서구   0.0210         0.0250   0.60           0.0040
5 20230101 관악구   0.0250         0.0200   0.60           0.0030
6 20230101 광진구   0.0175         0.0176   0.79           0.0026
  미세먼지농도 초미세먼지농도 월 일
1 52           36             01 01
2 56           43             01 01
3 51           34             01 01
4 62           38             01 01
5 54           35             01 01
6 48           36             01 01

In [37]:
table(data$`측정소명`)

      강남구     강남대로       강동구     강변북로       강북구       강서구
         365          365          365          365          365          365
    공항대로       관악구       관악산       광진구       구로구       금천구
         365          365          365          365          365          365
        남산       노원구       도봉구     도산대로     동대문구       동작구
         365          365          365          365          365          365
    동작대로       마포구 마포아트센터       북한산     서대문구       서울숲
         365          365          365          365          365          365
      서초구       성동구       성북구         세곡       송파구     시흥대로
         365          365          365          365          365          365
      신촌로       양천구     영등포구     영등포로   올림픽공원       용산구
         365          365          365          365          365          365
      은평구 자연사박물관       정릉로         종로       종로구         중구
         365          365          365          365          365          365
      중랑구     천호대로     청계천로     한강대로         항동         행주
         365          365          365          365          365          365
      홍릉로       화랑로
         365          365

In [38]:
# "강으로 시작되는 측정소 구하기"
idx <- grep("^강", data$`측정소명`)
gang <- data[idx, ]
table(gang$측정소명)

  강남구 강남대로   강동구 강변북로   강북구   강서구
     365      365      365      365      365      365

In [39]:
# 측정소명별로 미세먼지농도 평균 구하기 (abrageif_excel)
result <- tapply(gang$`미세먼지농도`, gang$`측정소명`, mean)
print(round(result, 2))

  강남구 강남대로   강동구 강변북로   강북구   강서구
   37.26    41.05       NA    40.22    37.82    42.13

In [40]:
# '로'로 끝나는 측정소명
idx <- grep("로$", data$`측정소명`)
road <- data[idx, ]
table(road$측정소명)

강남대로 강변북로 공항대로 도산대로 동작대로 시흥대로   신촌로 영등포로
     365      365      365      365      365      365      365      365
  정릉로     종로 천호대로 청계천로 한강대로   홍릉로   화랑로
     365      365      365      365      365      365      365

In [41]:
# '신', '한', '강'으로 시작되고 '로'로 끝나는 측정소명
idx <- grep("^[신항강].*로$", data$`측정소명`)
road2 <- data[idx, ]
table(road2$측정소명)

강남대로 강변북로   신촌로
     365      365      365

In [42]:
tapply(road2$`미세먼지농도`, road2$`측정소명`, median)

강남대로 강변북로   신촌로
      34       33       37